<%- include('../partials/header') %>

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="text-decoration-none" href="/"><h1 class="fw-bold" style="font-style: italic;">Glassics</h1></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0 mt-2"
                                placeholder="Search">
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <button id="openAddModalBtn" class="btn btn-success">Add Brands</button>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/dashboard">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">
                            <span class="menu-title">Products</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <span class="menu-title">Users</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">
                            <span class="menu-title">Categories</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin/brands" data-toggle="collapse" data-target="#brands">
                            <span class="menu-title">Brands</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                        <div class="collapse show" id="brands">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/admin/brands">Listed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/brands/unlisted_brands">Unlisted</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/offers">
                            <span class="menu-title">Offers</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">
                            <span class="menu-title">Logout</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-home"></i>
                            </span> Brands
                        </h3>
                    </div>
                    <div class="container">
                        <div class="card-grid">
                            <% brands.forEach((brand) => { %>
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h5 class="card-title font-weight-bold mb-4"><%= brand.brandName %></h5>
                                        <button id="openEditModalBtn_<%= brand._id %>" class="btn btn-primary">Edit</button>
                                        <!-- edit category modal -->
                                        <div id="brandEditModal_<%= brand._id %>" class="modal">
                                            <div class="modal-content">
                                                <span class="close text-end">&times;</span>
                                                <h3 class="mb-3 text-center">Edit Brand</h3>
                                                <form id="brandEditForm_<%= brand._id %>"action="/admin/brands/edit" method="post">
                                                    <div class="form-group mb-3">
                                                        <div class="row">
                                                            <div class="col">
                                                                <label for="brandName">Brand Name<span style="color: red;">*</span></label>
                                                                <input type="text" id="editBrandName" value="<%=brand.brandName %>"
                                                                    class="form-control" name="brandName">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="text" value="<%=brand._id %>" name="brandId" class="form-control" style="display: none;">
                                                    <div class="text-center">
                                                        <button class="btn btn-primary" type="submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <a href="#" class="btn btn-danger" onclick="confirmDelete('<%= brand._id %>')">Delete</a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                      </div>                  
                </div>
            </div>
        </div>
    </div>
    <!-- add category modal -->
    <div id="brandAddModal" class="modal">
        <div class="modal-content">
            <span class="close text-end">&times;</span>
            <h3 class="mb-3 text-center">Add Brands</h3>
            <form id="brandForm" action="/admin/brands/add" method="post">
                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="brandName">Brand Name<span style="color: red;">*</span></label>
                            <input type="text" id="brandName" class="form-control" name="brandName">
                        </div>
                    </div>
                </div>
                <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    .card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
    }

    .card {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card img {
      height: 200px; /* Adjust the height as needed */
      object-fit: cover;
    }
    </style>
    <script>
        // Get the modal
        const aModal = document.getElementById('brandAddModal');
        const eModals = document.querySelectorAll('[id^=brandEditModal]');

        // Get the button that opens the modal
        const aBtn = document.getElementById('openAddModalBtn');
        const eBtns = document.querySelectorAll('[id^=openEditModalBtn]');

        // Get the <span> element that closes the modal
        const aCloseBtn = aModal.querySelector('.close');
        const eCloseBtns = document.querySelectorAll('[id^=brandEditModal] .close');

        const sidebar = document.getElementById('sidebar');

        // When the user clicks the button, open the modal
        aBtn.onclick = function () {
            aModal.style.display = 'block';
        }
        eBtns.forEach((btn, index) => {
            btn.onclick = function () {
                eModals[index].style.display = 'block';
            }
        });

        // When the user clicks on <span> (x), close the modal
        aCloseBtn.onclick = function () {
            aModal.style.display = 'none';
        }
        eCloseBtns.forEach((btn) => {
            btn.onclick = function () {
                // Close the corresponding modal
                btn.closest('.modal').style.display = 'none';
            }
        });

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == aModal) {
                aModal.style.display = 'none';
            }
            if (event.target == eModal) {
                eModal.style.display = 'none';
            }
        }
        sidebar.onclick = function () {
            aModal.style.display = 'none';
            eModal.style.display = 'none';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
    function confirmDelete(brandId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/brands/delete_brands?id=${brandId}`, {
            method: 'GET'
          })
            .then(response => response.json())
            .then(data => {
              if (data.message === 'Brand deleted successfully') {
                Swal.fire(
                  'Deleted!',
                  'Your brand has been deleted.',
                  'success'
                ).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'There was a problem deleting the brand.',
                  'error'
                ).then(() => {
                    window.location.reload();
                });
              }
            })
            .catch(error => {
              Swal.fire(
                'Error!',
                'There was a problem deleting your brand.',
                'error'
              );
            });
        }
      });
    }
    </script>

    <%- include('../partials/footer') %>