<%- include('../partials/header') %>

    <div class="container-scroller">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand text-decoration-none" href="/">
                    <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">

                <div class="collapse navbar-collapse" id="sidebar">
                    <form class="d-flex ms-auto">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper pe-0">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item mt-3">
                        <a class="nav-link" href="/admin/dashboard">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">
                            <span class="menu-title">Products</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <span class="menu-title">Users</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="" data-toggle="collapse" data-target="#categories">
                            <span class="menu-title">Categories</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                        <div class="collapse show" id="categories">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/admin/categories">Listed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/categories/unlisted_categories">Unlisted</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/brands">
                            <span class="menu-title">Brands</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/offers">
                            <span class="menu-title">Offers</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">
                            <span class="menu-title">Logout</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-medical-bag"></i>
                            </span> Categories
                        </h3>
                    </div>
                    <% if(locals.message){ %>
                        <div class="message text-center text-danger">
                            <%= locals.message %>
                        </div>
                        <% } %>
                            <div class="container">
                                <div class="card-grid">
                                    <% categories.forEach((category)=> { %>
                                        <div class="card">
                                            <div class="card-body text-center">
                                                <h5 class="card-title font-weight-bold mb-4">
                                                    <%= category.categoryName %>
                                                </h5>
                                                <button id="openEditModalBtn_<%= category._id %>"
                                                    class="btn btn-primary">Edit</button>
                                                <!-- edit category modal -->
                                                <div id="categoryEditModal_<%= category._id %>" class="modal">
                                                    <div class="modal-content">
                                                        <span class="close text-end">&times;</span>
                                                        <h3 class="mb-3 text-center">Edit Category</h3>
                                                        <div id="messagerContainer_<%= category._id %>"
                                                            class="message-container"></div>
                                                        <form id="categoryEditForm_<%= category._id %>"
                                                            action="/admin/categories/edit" method="post">
                                                            <div class="form-group mb-3">
                                                                <div class="row">
                                                                    <div class="col">
                                                                        <label for="categoryName">Category Name<span
                                                                                style="color: red;">*</span></label>
                                                                        <input type="text" id="editCategoryName"
                                                                            value="<%= category.categoryName %>"
                                                                            class="form-control" name="categoryName">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="<%= category._id %>"
                                                                name="categoryId" class="form-control">
                                                            <div class="text-center">
                                                                <button class="btn btn-primary"
                                                                    type="submit">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                                <a href="#" class="btn btn-danger"
                                                    onclick="confirmDelete('<%= category._id %>')">Delete</a>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add category modal -->
    <div id="categoryAddModal" class="modal">
        <div class="modal-content">
            <span class="close text-end">&times;</span>
            <h3 class="mb-3 text-center">Add Category</h3>
            <div id="messageContainer" class="message-container"></div>
            <form id="categoryAddForm" action="/admin/categories/add" method="post">
                <div class="form-group mb-3">
                    <div class="row">
                        <div class="col">
                            <label for="categoryName">Category Name<span style="color: red;">*</span></label>
                            <input type="text" id="categoryName" class="form-control" name="categoryName">
                        </div>
                    </div>
                </div>
                <div class="text-center"><button class="btn btn-primary" type="submit">Submit</button></div>
            </form>
        </div>
    </div>

    <!-- container-scroller -->
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card img {
            height: 200px;
            /* Adjust the height as needed */
            object-fit: cover;
        }
        .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const aModal = document.getElementById('categoryAddModal');
            const eModals = document.querySelectorAll('[id^=categoryEditModal]');
            const aBtn = document.getElementById('openAddModalBtn');
            const eBtns = document.querySelectorAll('[id^=openEditModalBtn]');
            const aCloseBtn = aModal.querySelector('.close');
            const eCloseBtns = document.querySelectorAll('[id^=categoryEditModal] .close');
            const sidebar = document.getElementById('sidebar');

            aBtn.onclick = () => aModal.style.display = 'block';

            eBtns.forEach((btn, index) => {
                btn.onclick = () => eModals[index].style.display = 'block';
            });

            aCloseBtn.onclick = () => aModal.style.display = 'none';

            eCloseBtns.forEach((btn) => {
                btn.onclick = () => btn.closest('.modal').style.display = 'none';
            });

            window.onclick = (event) => {
                if (event.target == aModal) {
                    aModal.style.display = 'none';
                }
                eModals.forEach((modal) => {
                    if (event.target == modal) {
                        modal.style.display = 'none';
                    }
                });
            }

            sidebar.onclick = () => {
                aModal.style.display = 'none';
                eModals.forEach(modal => modal.style.display = 'none');
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(categoryId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'This action cannot be undone.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/admin/categories/delete_categories?id=${categoryId}`, {
                        method: 'GET'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message === 'Category deleted successfully') {
                                Swal.fire(
                                    'Deleted!',
                                    'Your category has been deleted.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    'There was a problem deleting the your category.',
                                    'error'
                                ).then(() => {
                                    window.location.reload();
                                });
                            }
                        })
                        .catch(error => {
                            Swal.fire(
                                'Error!',
                                'There was a problem deleting your category.',
                                'error'
                            );
                        });
                }
            });
        }

        document.getElementById('categoryAddForm').addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(event.target);
            try {
                const response = await fetch('/admin/categories/add', {
                    method: 'POST',
                    body: new URLSearchParams(formData)
                });

                const data = await response.json();
                const messageContainer = document.getElementById('messageContainer');

                if (response.ok) {
                    messageContainer.innerHTML = `<div class="alert alert-success">${data.message}</div>`;
                    setTimeout(() => location.reload(), 1000)
                } else {
                    messageContainer.innerHTML = `<div class="alert alert-danger">${data.message}</div>`;
                }
            } catch (error) {
                console.error("Network error:", error);
                const messageContainer = document.getElementById('messageContainer');
                messageContainer.innerHTML = `<div class="alert alert-danger">Network error occurred. Please try again.</div>`;
            }
        });

        document.querySelectorAll('form[id^="categoryEditForm_"]').forEach(form => {
            form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const formData = new FormData(event.target);
                try {
                    const response = await fetch('/admin/categories/edit', {
                        method: 'POST',
                        body: new URLSearchParams(formData)
                    });
                    const data = await response.json();
                    const messagerContainer = document.getElementById('messagerContainer_' + event.target.id.split('_')[1]);

                    if (response.ok) {
                        Swal.fire(
                            'Edited',
                            'Editing the category was successful',
                            'success'
                        ).then(() => {
                            setTimeout(() => location.reload(), 1000)
                            // Optionally, close the modal here if needed
                            const modal = document.getElementById('categoryEditModal_' + event.target.id.split('_')[1]);
                            modal.style.display = 'none';
                        });
                    } else {
                        messagerContainer.innerHTML = `<div class="alert alert-danger">${data.message}</div>`;
                    }
                } catch (error) {
                    console.error("Network error:", error);
                    const messagerContainer = document.getElementById('messagerContainer_' + event.target.id.split('_')[1]);
                    messagerContainer.innerHTML = `<div class="alert alert-danger">Network error occurred. Please try again.</div>`;
                }
            });
        });

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function () {
          $('[data-toggle="offcanvas"]').click(function () {
              $('.sidebar-offcanvas').toggleClass('active');
          });
      });
    </script>
<%- include('../partials/footer') %>