<%- include('../partials/header') %>

<div class="container-scroller">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand text-decoration-none" href="/">
                <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex ms-auto search-form" method="GET" action="/admin/orders">
                    <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search" value="<%= search %>">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearchContent" aria-controls="navbarSearchContent" aria-expanded="false" aria-label="Toggle search">
                <span class="fa fa-search text-secondary"></span>
            </button>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu text-secondary"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper pe-0">
        <!-- Sidebar -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item mt-3">
                    <a class="nav-link" href="/admin/dashboard">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">
                        <span class="menu-title">Products</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-shopping menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <span class="menu-title">Users</span>
                        <i class="mdi mdi-face menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="" data-toggle="collapse" data-target="#orders">
                      <span class="menu-title">Orders</span>
                      <i class="menu-arrow"></i>
                      <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                    </a>
                    <div class="collapse" id="orders">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                          <a class="nav-link active" href="/admin/orders">Listed</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/admin/orders/returned_orders">Returned</a>
                        </li>
                      </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">
                        <span class="menu-title">Categories</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-group menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/brands">
                        <span class="menu-title">Brands</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-grid menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/coupons">
                        <span class="menu-title">Coupons</span>
                        <i class="mdi mdi-ticket menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/offers">
                        <span class="menu-title">Offers</span>
                        <i class="mdi mdi-percent menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout">
                        <span class="menu-title">Logout</span>
                        <i class="mdi mdi-logout menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- Content Wrapper -->
        <div class="main-panel">
            <div class="content-wrapper">
                <!-- Collapsible Search Bar -->
            <div class="collapse" id="navbarSearchContent">
                <div class="bg-light p-3 mb-3 d-md-none">
                    <form class="d-flex w-100 search-form" method="GET" action="/admin/orders">
                        <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search" value="<%= search %>">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
                <section class="shopping-cart spad pt-0">
                    <div class="container">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                    <i class="mdi mdi-home"></i>
                                </span> Orders
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered text-center">
                                        <thead>
                                            <tr>
                                                <th class="p-3">Order ID</th>
                                                <th>Order Date</th>
                                                <th>Customer</th>
                                                <th>Total Price</th>
                                                <th>Items Count</th>
                                                <th>Status</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(orders.length > 0) { %>
                                                <% orders.forEach(order => { 
                                                    let totalPrice = 0;
                                                    let itemsCount = order.items.length;
                                                    order.items.forEach(item => {
                                                        totalPrice += item.productDiscPrice * item.quantity;
                                                    });
                                                %>
                                                    <tr>
                                                        <td class="p-4"><%= order.orderID %></td>
                                                        <td class="p-4"><%= new Date(order.orderDate).toLocaleDateString() %></td>
                                                        <td class="p-4"><%= order.customer_id ? order.customer_id.userName : 'Unknown' %></td>
                                                        <td class="p-4">&#8377;<%= totalPrice.toFixed(2) %></td>
                                                        <td class="p-4"><%= itemsCount %></td>
                                                        <td class="pe-4 pt-3">
                                                            <% 
                                                            let statusCounts = {
                                                                delivered: 0,
                                                                canceled: 0,
                                                                returned: 0,
                                                                returnrequested: 0,
                                                                pending: 0,
                                                                processing: 0,
                                                                dispatched: 0,
                                                            };
                                                        
                                                            order.items.forEach(item => {
                                                                statusCounts[item.orderStatus.toLowerCase().replace(' ', '')]++;
                                                            });
                                                        
                                                            let statusText = '';
                                                            if (statusCounts.delivered === order.items.length) {
                                                                statusText = 'Delivered';
                                                            } else if (statusCounts.canceled === order.items.length) {
                                                                statusText = 'Canceled';
                                                            } else if (statusCounts.returned === order.items.length) {
                                                                statusText = 'Returned';
                                                            } else if (statusCounts.returnrequested === order.items.length) {
                                                                statusText = 'Return Requested';
                                                            } else if (statusCounts.processing > 0) {
                                                                statusText = 'Processing';
                                                            } else if (statusCounts.dispatched > 0) {
                                                                statusText = 'Dispatched';
                                                            } else {
                                                                statusText = 'Pending';
                                                            }
                                                            %>
                                                        
                                                            <% if (statusText === 'Delivered') { %>
                                                                <p class="text-success"><%= statusText %></p>
                                                            <% } else if (statusText === 'Canceled') { %>
                                                                <p class="text-danger"><%= statusText %></p>
                                                            <% } else if (statusText === 'Returned') { %>
                                                                <p class="text-secondary"><%= statusText %></p>
                                                            <% } else if (statusText === 'Return Requested') { %>
                                                                <p class="text-warning"><%= statusText %></p>
                                                            <% } else if (statusText === 'Processing') { %>
                                                                <p class="text-info"><%= statusText %></p>
                                                            <% } else if (statusText === 'Dispatched') { %>
                                                                <p class="text-primary"><%= statusText %></p>
                                                            <% } else { %>
                                                                <p>Pending</p>
                                                            <% } %>
                                                        </td>                                                 
                                                        <td class="p-4">
                                                            <a href="/admin/orders/order_details?id=<%= order._id %>" class="btn btn-outline-primary btn-sm">Details</a>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            <% } else { %>
                                                <tr class="text-center">
                                                    <td colspan="7">No orders found!</td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pagination d-flex justify-content-center align-items-center">
                                    <% if (currentPage > 1) { %>
                                        <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>&search=<%= search %>" class="btn btn-outline-info">&lt;</a>
                                    <% } %>
                                    <% for (let i = Math.max(1, currentPage - 1); i <= Math.min(currentPage + 1, totalPages); i++) { %>
                                        <a href="?page=<%= i %>&limit=<%= limit %>&search=<%= search %>" class="btn btn-outline-secondary <%= currentPage === i ? 'active' : '' %>">
                                        <%= i %>
                                        </a>
                                    <% } %>
                                    <% if (currentPage < totalPages) { %>
                                        <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>&search=<%= search %>" class="btn btn-outline-info">&gt;</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>        
    </div>
</div>
<style>
    .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
          $('.sidebar-offcanvas').toggleClass('active');
      });
  });
</script>
<%- include('../partials/footer') %>