<%- include('../partials/header') %>

<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand text-decoration-none" href="/">
                <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
            </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
            <div class="collapse navbar-collapse" id="sidebar">
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper pe-0">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item mt-3">
              <a class="nav-link" href="/admin/dashboard">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/products">
                <span class="menu-title">Products</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-crosshairs-gps menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/users">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-contacts menu-icon"></i>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/admin/orders">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/categories">
                <span class="menu-title">Categories</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-chart-bar menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/brands">
                <span class="menu-title">Brands</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-table-large menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupons">
                <span class="menu-title">Coupons</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/offers">
                <span class="menu-title">Offers</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/logout">
                <span class="menu-title">Logout</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-medical-bag menu-icon"></i>
              </a>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <!-- Content Wrapper -->
          <div class="content-wrapper col-lg-12">
            <section class="order-detail spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <% if (order) { %>
                                <div class="order-summary">
                                    <div class="card mb-4 ms-3">
                                        <div class="card-body">
                                            <h2 class="card-title mt-3">Order Details</h2>
                                            <p class="card-text">
                                                <span class="fw-bold">Order ID : </span><%= order.orderID %><br>
                                                <span class="fw-bold">Order Date : </span><%= new Date(order.orderDate).toLocaleDateString() %><br>
                                                <span class="fw-bold">Payment Method : </span><%= order.paymentMethod %><br>
                                                <span class="fw-bold">Customer Name : </span><%= order.customer_id.userName %><br>
                                                <span class="fw-bold">Payment Status : </span><%= order.paymentStatus %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-3 ms-3">
                                        <div class="card-body">
                                            <h5 class="card-title mt-3">Delivery Address</h5>
                                            <p class="card-text">
                                                <span class="fw-bold">Name: </span><%= order.address_id.addressName %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="fw-bold">Email: </span><%= order.address_id.addressEmail %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                <span class="fw-bold">Mobile: </span><%= order.address_id.addressMobile %><br>
                                            </p>
                                            <p class="card-text">
                                                <span class="fw-bold">Address Details: </span><br>
                                                <%= order.address_id.addressHouse %>, <%= order.address_id.addressStreet %>, <%= order.address_id.addressPost %>, <%= order.address_id.addressMark %>, <%= order.address_id.addressCity %>, <%= order.address_id.addressDistrict %>, <%= order.address_id.addressState %>, <%= order.address_id.addressPin %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <h5 class="mt-3">Items : </h5>
                                        <div class="row">
                                            <% order.items.forEach((item, index) => { %>
                                                <div class="col-md-6 mb-4">
                                                    <div class="card">
                                                        <div class="card-body">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <a href="/product_details/<%= item.product_id._id %>">
                                                                        <img src="/static/productImages/<%= item.productImage %>" alt="<%= item.product_id.name %>" class="img-fluid">
                                                                    </a>
                                                                    <h5><%= item.product_id.name %></h5>
                                                                    <p>Color: <%= item.productColor %></p>
                                                                    <p>Size: <%= item.productSize %></p>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p>Quantity: <%= item.quantity %></p>
                                                                    <p>Price: &#8377;<%= item.productDiscPrice.toFixed(2) %></p>
                                                                    <p>Total: &#8377;<%= (item.productDiscPrice * item.quantity).toFixed(2) %></p>
                                                                    <% if (item.orderStatus !== 'Canceled') { %>
                                                                        <p>Delivery Date: <%= new Date(item.deliveryDate).toLocaleDateString() %></p>
                                                                    <% } %>
                                                                    <p id="status-<%= item._id %>"> 
                                                                        <span>Status : </span><span class="status-<%= item.orderStatus.toLowerCase() %>"><%= item.orderStatus %></span>
                                                                    </p>
                                                                    <p>Change Status :
                                                                        <select class="form-control mb-3" onchange="confirmUpdateOrderStatus('<%= item._id %>', this.value,'<%= item.orderStatus %>')">
                                                                            <option value="">Change Status</option>
                                                                            <option value="Pending">Pending</option>
                                                                            <option value="Processing">Processing</option>
                                                                            <option value="Dispatched">Dispatched</option>
                                                                            <option value="Delivered">Delivered</option>
                                                                            <option value="Canceled">Canceled</option>
                                                                            <option value="Returned">Returned</option>
                                                                        </select>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if ((index + 1) % 2 === 0) { %>
                                                    <div class="w-100"></div>
                                                <% } %>
                                            <% }) %>
                                        </div>
                                    </div>
                                </div>
                            <% } else { %>
                                <p>Order not found!</p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
        </div>
      </div>
</div>
<style>
.status-pending {
    color: orange;
}

.status-processing {
    color: blue;
}

.status-dispatched {
    color: purple;
}

.status-delivered {
    color: green;
}

.status-canceled {
    color: red;
}
.status-returned {
    color: grey;
}
.page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }

</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function confirmUpdateOrderStatus(itemId, newStatus, currentStatus) {
    const statusOrder = {
        'Pending': 0,
        'Processing': 1,
        'Dispatched': 2,
        'Delivered': 3,
        'Canceled': 4,
        'Return requested': 5,
        'Returned': 6
    };

    const currentStatusOrder = statusOrder[currentStatus];
    const newStatusOrder = statusOrder[newStatus];

    if(currentStatus === 'Canceled'){
        Swal.fire({
            icon: 'error',
            title: 'Update failed',
            text: 'Cannot change status of canceled orders'
        });
        return
    }

    if (newStatusOrder < currentStatusOrder) {
        Swal.fire({
            icon: 'error',
            title: 'Update Failed',
            text: 'Cannot update to a previous status.'
        });
        return;
    }

    if ((currentStatus === 'Delivered' || currentStatus === 'Returned') && newStatus === 'Canceled') {
        Swal.fire({
            icon: 'error',
            title: 'Update Failed',
            text: 'Cannot cancel a delivered or returned order.'
        });
        return;
    }

    Swal.fire({
        title: 'Are you sure?',
        text: `You are about to change the status to "${newStatus}".`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, change it!'
    }).then((result) => {
        if (result.isConfirmed) {
            updateOrderStatus(itemId, newStatus);
        }
    });
}

function updateOrderStatus(itemId, newStatus) {
    fetch('/admin/orders/order_details/change_status', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ itemId, newStatus })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            const statusElement = document.getElementById(`status-${itemId}`).querySelector('span:nth-child(2)');
            statusElement.innerText = data.newStatus;
            statusElement.className = `status-${data.newStatus.toLowerCase()}`;
            Swal.fire(
                'Updated!',
                'Order status has been updated.',
                'success'
            );
        } else {
            console.error('Server error:', data.message);
            Swal.fire(
                'Error!',
                data.message,
                'error'
            );
        }
    })
    .catch(error => {
        console.error('Error:', error);
        Swal.fire(
            'Error!',
            'Failed to update the order status.',
            'error'
        );
    });
}

</script>
<!-- Include Bootstrap JS and dependencies -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
          $('.sidebar-offcanvas').toggleClass('active');
      });
  });
</script>
 
<%- include('../partials/footer') %>