<%- include('../partials/header') %>

  <div class="container-scroller">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
          <a class="navbar-brand text-decoration-none" href="/">
              <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
          </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-stretch">

          <div class="collapse navbar-collapse" id="sidebar">
              <form class="d-flex ms-auto">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
          </div>
          <ul class="navbar-nav navbar-nav-right">
            <a href="/admin/products/add_products"><button class="btn btn-outline-primary ms-3">Add Products</button></a>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
          </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper pe-0">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item mt-3">
            <a class="nav-link" href="/admin/dashboard">
              <span class="menu-title">Dashboard</span>
              <i class="mdi mdi-home menu-icon"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="" data-toggle="collapse" data-target="#products">
              <span class="menu-title">Products</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-crosshairs-gps menu-icon"></i>
            </a>
            <div class="collapse show" id="products">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link active" href="/admin/products">Listed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/products/unlisted_products">Unlisted</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/users">
              <span class="menu-title">Users</span>
              <i class="mdi mdi-contacts menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/orders">
              <span class="menu-title">Orders</span>
              <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/categories">
              <span class="menu-title">Categories</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-chart-bar menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/brands">
              <span class="menu-title">Brands</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-table-large menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/coupons">
              <span class="menu-title">Coupons</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/offers">
              <span class="menu-title">Offers</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin/logout">
              <span class="menu-title">Logout</span>
              <i class="menu-arrow"></i>
              <i class="mdi mdi-medical-bag menu-icon"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
              </span> Products
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr class="text-center">
                  <th>Image</th>
                  <th>Name</th>
                  <th>Brand</th>
                  <th>Frame</th>
                  <th>Category</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% if(products.length> 0) { %>
                  <% products.forEach(product=> { %>
                    <tr>
                      <td>
                        <img src="/productImages/<%= product.variants[0].images[0] %>" alt="" class="img-fluid"
                          style="max-width: 150px; height: auto;">
                      </td>
                      <td>
                        <%= product.productName %>
                      </td>
                      <td>
                        <%= product.productBrand.brandName %>
                      </td>
                      <td>
                        <%= product.frameMaterial %>
                      </td>
                      <td>
                        <%= product.productCategory.categoryName %>
                      </td>
                      <td>
                        <a href="/admin/products/detail_products?id=<%= product._id %>"
                          class="btn btn-success btn-sm">Details</a>
                        <a href="/admin/products/edit_products?id=<%= product._id %>"
                          class="btn btn-primary btn-sm">Edit</a>
                        <button class="btn btn-danger btn-sm"
                          onclick="confirmDelete('<%= product._id %>')">Delete</button>
                      </td>
                    </tr>
                    <% }); %>
                      <% } else { %>
                        <tr>
                          <td colspan="6">No products found!</td>
                        </tr>
                        <% } %>
              </tbody>
            </table>
          </div>
          <div class="pagination d-flex justify-content-center align-items-center">
            <% if (currentPage> 1) { %>
              <a href="?page=<%= currentPage - 1 %>&limit=<%= limit %>" class="btn btn-info">&lt;</a>
            <% } %>
            <% for (let i = Math.max(1, currentPage - 1); i <= Math.min(currentPage + 1, totalPages); i++) { %>
              <a href="?page=<%= i %>&limit=<%= limit %>"
                    class="btn btn-secondary <%= currentPage === i ? 'active' : '' %>">
                  <%= i %>
              </a>
              <% } %>
              <% if (currentPage < totalPages) { %>
                <a href="?page=<%= currentPage + 1 %>&limit=<%= limit %>" class="btn btn-info">&gt;</a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container-scroller -->

  <style>
    .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function confirmDelete(productId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, delete it!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/products/delete_products?id=${productId}`, {
            method: 'GET'
          })
            .then(response => response.json())
            .then(data => {
              if (data.message === 'Product deleted successfully') {
                Swal.fire(
                  'Deleted!',
                  'Your product has been deleted.',
                  'success'
                ).then(() => {
                  window.location.reload();
                });
              } else {
                Swal.fire(
                  'Error!',
                  'There was a problem deleting your product.',
                  'error'
                );
              }
            })
            .catch(error => {
              Swal.fire(
                'Error!',
                'There was a problem deleting your product.',
                'error'
              );
            });
        }
      });
    }
  </script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
          $('.sidebar-offcanvas').toggleClass('active');
      });
  });
</script>
  <%- include('../partials/footer') %>