<%- include('../partials/header') %>

    <div class="container-scroller">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand text-decoration-none" href="/">
                    <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <div class="d-flex ms-auto mt-3">
                    <a><button id="downloadPDF" class="btn btn-outline-danger me-1 btn-small"><i class="mdi mdi-download"></i> PDF</button></a>
                    <a><button id="downloadExcel" class="btn btn-success me-1 btn-small"><i class="mdi mdi-download"></i> Excel</button></a>
                </div>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper pe-0">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item active mt-3">
                        <a class="nav-link" href="/admin/dashboard">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">
                            <span class="menu-title">Products</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            <span class="menu-title">Users</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">
                            <span class="menu-title">Categories</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/brands">
                            <span class="menu-title">Brands</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/banners">
                            <span class="menu-title">Banners</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/offers">
                            <span class="menu-title">Offers</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/logout">
                            <span class="menu-title">Logout</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-medical-bag menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                                <i class="mdi mdi-medical-bag"></i>
                            </span> Sales Report
                        </h3>
                    </div>
                    <% if(locals.message){ %>
                        <div class="alert alert-danger text-center">
                            <%= locals.message %>
                        </div>
                    <% } %>
                    <div class="container mt-5">
                        <div class="row mb-4">
                            <div class="col">
                                <form id="filterForm" class="bg-light p-3 rounded shadow-sm" action="/admin/dashboard/sales_report" method="get">
                                    <div class="row g-3">
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label for="startDate" class="form-label">Start Date:</label>
                                                <input type="date" id="startDate" name="startDate" class="form-control p-2" value="<%= startDate %>" onclick="resetPeriod()">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label for="endDate" class="form-label">End Date:</label>
                                                <input type="date" id="endDate" name="endDate" class="form-control p-2" value="<%= endDate %>" onclick="resetPeriod()">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3">
                                            <div class="form-group">
                                                <label for="period" class="form-label">Period:</label>
                                                <select id="period" name="period" class="form-control text-black" onchange="resetDate()">
                                                    <option value="select" <%= period === 'select' ? 'selected' : '' %>>Select period</option>
                                                    <option value="daily" <%= period === 'daily' ? 'selected' : '' %>>Daily</option>
                                                    <option value="weekly" <%= period === 'weekly' ? 'selected' : '' %>>Weekly</option>
                                                    <option value="monthly" <%= period === 'monthly' ? 'selected' : '' %>>Monthly</option>
                                                    <option value="yearly" <%= period === 'yearly' ? 'selected' : '' %>>Yearly</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-3 d-flex align-items-end mb-3">
                                            <button type="submit" class="btn btn-outline-secondary w-100">Filter</button>
                                        </div>
                                    </div>
                                </form>                                                              
                            </div>
                        </div>
                        <p id="downloadMessage"></p>
                        <div class="row mb-4">
                            <div class="col">
                                <div class="card shadow-sm">
                                    <div class="card-body">
                                        <h5 class="card-title">Overall Sales Summary</h5>
                                        <p class="card-text">Overall Sales: &#8377;<%= overallReport.totalSales.toFixed(2) %></p>
                                        <p class="card-text">Overall Discount: &#8377;<%= overallReport.totalDiscount.toFixed(2) %></p>
                                        <p class="card-text">Overall Coupons Deduction: &#8377;<%= overallReport.totalCoupons.toFixed(2) %></p>
                                        <p class="card-text">Overall Orders: <%= overallReport.totalOrders %></p>
                                        <p class="card-text">Overall Quantity: <%= overallReport.totalQuantity %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="table-responsive">
                            <table class="table table-hover text-center shadow-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Year</th>
                                        <% if(period === 'weekly'){ %>
                                            <th>Week</th>
                                        <% } else if(period !== 'yearly') { %>
                                            <th>Month</th>
                                        <% } %>
                                        <% if(period === 'daily') { %>
                                            <th>Day</th>
                                        <% } %>
                                        <th>Product</th>
                                        <th>Total Quantity</th>
                                        <th>Total Sales</th>
                                        <th>Total Discount</th>
                                        <th>Total Coupons</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% salesReport.forEach(report => { %>
                                        <tr>
                                            <td><%= report.year %></td>
                                            <% if(period === 'weekly'){ %>
                                                <td><%= report.week %></td>
                                            <% } else if(period !== 'yearly') { %>
                                                <td><%= report.month %></td>
                                            <% } %>
                                            <% if(period === 'daily') { %>
                                                <td><%= report.day %></td>
                                            <% } %>
                                            <td><%= report.product %></td>
                                            <td><%= report.totalQuantity %></td>
                                            <td>&#8377;<%= report.totalSales.toFixed(2) %></td>
                                            <td>&#8377;<%= report.totalDiscount.toFixed(2) %></td>
                                            <td>&#8377;<%= report.totalCoupons.toFixed(2) %></td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!-- container-scroller -->
<style>
    .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
        @media (max-width: 992px) {
    .form-control, .btn {
        width: 100%;
    }
    .form-group {
        margin-bottom: 1rem;
    }
}

        
</style>
    <script>
        function resetDate() {
            document.getElementById('startDate').value = '';
            document.getElementById('endDate').value = '';
        }
        function resetPeriod() {
            document.getElementById('period').value = 'select';
        }
    </script>
    <!-- sales_report.ejs or your main script file -->
  
    <script>
        document.getElementById('downloadPDF').addEventListener('click', async () => {
            try {
                // Retrieve form input values
                const startDate = document.getElementById('startDate').value.trim();
                const endDate = document.getElementById('endDate').value.trim();
                const period = document.getElementById('period').value;
        
                console.log('startDate:', startDate);
                console.log('endDate:', endDate);
                console.log('period:', period);
        
                const url = `/admin/dashboard/sales_report/pdf?startDate=${encodeURIComponent(startDate)}&endDate=${encodeURIComponent(endDate)}&period=${encodeURIComponent(period)}`;
        
                // Fetch request to download PDF
                const response = await fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
        
                // Check if fetch was successful
                if (response.ok) {
                    // Convert response to blob
                    const blob = await response.blob();
        
                    // Create a temporary URL for the blob
                    const blobUrl = window.URL.createObjectURL(blob);
        
                    // Create a hidden <a> element to trigger download
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = blobUrl;
                    a.download = 'sales_report.pdf';
                    document.body.appendChild(a);
                    a.click();
        
                    // Clean up after download
                    window.URL.revokeObjectURL(blobUrl);
                    document.body.removeChild(a);
                } else {
                    console.error('Failed to download PDF');
                }
            } catch (error) {
                console.error('Error downloading PDF:', error);
            }
        });
    </script>
    <script>
        document.getElementById('downloadExcel').addEventListener('click', async () => {
            try {
                // Retrieve form input values
                const startDate = document.getElementById('startDate').value.trim();
                const endDate = document.getElementById('endDate').value.trim();
                const period = document.getElementById('period').value;
    
                console.log('startDate:', startDate);
                console.log('endDate:', endDate);
                console.log('period:', period);
    
                const url = `/admin/dashboard/sales_report/excel?startDate=${encodeURIComponent(startDate)}&endDate=${encodeURIComponent(endDate)}&period=${encodeURIComponent(period)}`;
    
                // Fetch request to download Excel file
                const response = await fetch(url, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
    
                // Check if fetch was successful
                if (response.ok) {
                    // Convert response to blob
                    const blob = await response.blob();
    
                    // Create a temporary URL for the blob
                    const blobUrl = window.URL.createObjectURL(blob);
    
                    // Create a hidden <a> element to trigger download
                    const a = document.createElement('a');
                    a.style.display = 'none';
                    a.href = blobUrl;
                    a.download = 'sales_report.xlsx';
                    document.body.appendChild(a);
                    a.click();
    
                    // Clean up after download
                    window.URL.revokeObjectURL(blobUrl);
                    document.body.removeChild(a);
                } else {
                    console.error('Failed to download Excel file');
                }
            } catch (error) {
                console.error('Error downloading Excel file:', error);
            }
        });
    </script>    
        
    

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
          $(document).ready(function () {
              $('[data-toggle="offcanvas"]').click(function () {
                  $('.sidebar-offcanvas').toggleClass('active');
              });
          });
        </script>
    <%- include('../partials/footer') %>