<%- include('../partials/header') %>

<div class="container-scroller">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand text-decoration-none" href="/">
            <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
        </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">

        <div class="collapse navbar-collapse" id="sidebar">
            <form class="d-flex ms-auto">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
        </button>
    </div>
  </nav>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper pe-0">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item mt-3">
          <a class="nav-link" href="/admin/dashboard">
            <span class="menu-title">Dashboard</span>
            <i class="mdi mdi-home menu-icon"></i>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/admin/products" data-toggle="collapse" data-target="#products">
            <span class="menu-title">Products</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
          </a>
          <div class="collapse show" id="products">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item">
                <a class="nav-link" href="/admin/products">Listed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/admin/products/unlisted_products">Unlisted</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">
            <span class="menu-title">Users</span>
            <i class="mdi mdi-contacts menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/orders">
            <span class="menu-title">Orders</span>
            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/categories">
            <span class="menu-title">Categories</span>
            <i class="mdi mdi-chart-bar menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/brands">
            <span class="menu-title">Brands</span>
            <i class="mdi mdi-table-large menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/coupons">
            <span class="menu-title">Coupons</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-medical-bag menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/offers">
            <span class="menu-title">Offers</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-medical-bag menu-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/logout">
            <span class="menu-title">Logout</span>
            <i class="menu-arrow"></i>
            <i class="mdi mdi-medical-bag menu-icon"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="page-header">
          <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
              <i class="mdi mdi-home"></i>
            </span> Unlisted Products
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="text-center">
                <th>Image</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody class="text-center">
              <% if(products.length > 0) { %>
                <% for(let i=0; i<products.length; i++) { %>
                  <tr>
                    <td><img src="/productImages/<%= products[i].variants[0].images[0] %>" alt="" width="150px" height="150px"></td>
                    <td><%= products[i].productName %></td>
                    <td><%= products[i].productBrand %></td>
                    <td><%= products[i].productCategory %></td>
                    <td>
                      <a href="#" class="btn btn-danger btn-sm" onclick="confirmReAdd('<%= products[i]._id %>')">Add</a>
                    </td>
                  </tr>
                <% } %>
              <% } else { %>
                <tr>
                  <td colspan="5" class="text-center">Products not found</td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- container-scroller -->
<style>
  .page-body-wrapper{
      position: relative;
    }
    .sidebar {
            position: absolute;
            position: fixed;
            bottom: 100;
            z-index: 999;
        }
        @media (min-width : 992px) {
            .main-panel {
                margin-left: 260px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
</style>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    function confirmReAdd(productId) {
      Swal.fire({
        title: 'Are you sure?',
        text: 'This action cannot be undone.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, add it!',
        cancelButtonText: 'Cancel',
        reverseButtons: true
      }).then((result) => {
        if (result.isConfirmed) {
          fetch(`/admin/products/reAdd_products?id=${productId}`, {
            method: 'GET'
          })
          .then(response => response.json())
          .then(data => {
            if (data.message === 'Product added to Products') {
              Swal.fire(
                'Added!',
                'Your product has been added.',
                'success'
              ).then(() => {
                window.location.reload();
              });
            } else {
              Swal.fire(
                'Error!',
                'There was a problem adding your product.',
                'error'
              );
            }
          })
          .catch(error => {
            Swal.fire(
              'Error!',
              'There was a problem adding your product.',
              'error'
            );
          });
        }
      });
    }
  </script>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function () {
      $('[data-toggle="offcanvas"]').click(function () {
          $('.sidebar-offcanvas').toggleClass('active');
      });
  });
</script>

<%- include('../partials/footer') %>