<%- include('../partials/header') %>

    <div class="container-scroller">
        <%- include('../partials/user-header', { isAuthenticated: isAuthenticated }) %>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper ps-0 pe-0">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas border" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile">
                            <span class="menu-title">Profile</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/wishlist">
                            <span class="menu-title">Wishlist</span>
                            <i class="mdi mdi-heart menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active bg-gradient-info">
                        <a class="nav-link" href="/account/address">
                            <span class="menu-title font-weight-bold text-white">Address</span>
                            <i class="mdi mdi-google-maps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/wallet">
                            <span class="menu-title">Wallet</span>
                            <i class="mdi mdi-wallet menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="mdi mdi-ticket menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <span class="menu-title">Logout</span>
                            <i class="mdi mdi-logout menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel mt-3 w-100">
                <!-- Breadcrumb Section Begin -->
                <section class="breadcrumb-option mt-5" style="background-color: rgb(232, 243, 250);">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="breadcrumb__text ps-4">
                                    <h4 class="mt-3">Address</h4>
                                    <div>
                                        <a class="text-decoration-none text-dark fw-bold" href="/">Home&nbsp;&gt;&nbsp;</a>
                                        <a class="text-decoration-none text-dark fw-bold" href="/account/profile">Account</a>
                                        <span>&nbsp;&gt;&nbsp;Address</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Breadcrumb Section End -->
                <div class="content-wrapper d-flex justify-content-center " style="background-color: rgb(255, 255, 255);">
                    <div class="container mt-5">
                        <!-- Heading and Add Address Button -->
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h4 class="mb-0">My Addresses</h4>
                            <button class="btn btn-outline-success" onclick="openAddAddressModal()">Add</button>
                        </div>
            
                        <!-- Address List -->
                        <div id="address-list">
                            <div class="row">
                                <% addresses.forEach((address) => { %>
                                <div class="col-md-6">
                                    <div class="card mb-4 border-secondary">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= address.addressName %></h5>
                                            <p class="card-text">
                                                <%= address.addressEmail %>, <%= address.addressMobile %><br>
                                                <%= address.addressHouse %>, <%= address.addressStreet %>, <%= address.addressPost %>, <%= address.addressMark %><br>
                                                <%= address.addressCity %>, <%= address.addressDistrict %> <%= address.addressState %><br>
                                                <%= address.addressPin %>
                                            </p>
                                            <!-- Button to open Edit Address Modal -->
                                            <button class="btn btn-outline-primary me-2" onclick="openEditAddressModal('<%= address._id %>')">Edit</button>
                                            <button class="btn btn-outline-danger" onclick="deleteAddress('<%= address._id %>')">Delete</button>
                                            <!-- Edit Address modal -->
                                            <div id="addressModal_<%= address._id %>" class="modal">
                                                <div class="modal-content">
                                                    <span class="close" onclick="closeEditAddressModal('<%= address._id %>')">&times;</span>
                                                    <h3 id="addressModalTitle_<%= address._id %>" class="mb-3 text-center">Edit Address</h3>
                                                    <div id="addressMessageContainer_<%= address._id %>" class="message-container text-center fw-bold"></div>
                                                    <form id="addressForm_<%= address._id %>" onsubmit="handleEditAddressFormSubmit(event)">
                                                        <div id="addressErrors_<%= address._id %>" class="text-warning fw-bold text-center"></div>
                                                        <div class="row form-group mb-3">
                                                            <div class="col">
                                                                <label for="addressName">Name</label>
                                                                <input type="text" name="addressName" class="form-control" id="addressName_<%= address._id %>" value="<%= address.addressName %>">
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressEmail">Email</label>
                                                                <input type="email" name="addressEmail" class="form-control" id="addressEmail_<%= address._id %>" value="<%= address.addressEmail %>">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group mb-3">
                                                            <div class="col">
                                                                <label for="addressMobile">Mobile</label>
                                                                <input type="tel" name="addressMobile" class="form-control" id="addressMobile_<%= address._id %>" pattern="[0-9]{10}" value="<%= address.addressMobile %>">
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressHouse">House/Flat No.</label>
                                                                <input type="text" name="addressHouse" class="form-control" id="addressHouse_<%= address._id %>" value="<%= address.addressHouse %>">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group mb-3">
                                                            <div class="col">
                                                                <label for="addressStreet">Street</label>
                                                                <input type="text" name="addressStreet" class="form-control" id="addressStreet_<%= address._id %>" value="<%= address.addressStreet %>">
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressPost">Post Office</label>
                                                                <input type="text" name="addressPost" class="form-control" id="addressPost_<%= address._id %>" value="<%= address.addressPost %>">
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressCity">City</label>
                                                            <input type="text" name="addressCity" class="form-control" id="addressCity_<%= address._id %>" value="<%= address.addressCity %>">
                                                            </div>
                                                        </div>
                                                        <div class="row form-group mb-3">
                                                            <div class="col">
                                                                <label for="addressDistrict">District</label>
                                                                <select class="form-control text-black" name="addressDistrict" value="<%= address.addressDistrict %>" id="addressDistrict">
                                                                    <option>Kannur</option>
                                                                    <option>Kasargod</option>
                                                                    <option>Kozhikode</option>
                                                                </select>
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressState">State</label>
                                                                <select class="form-control text-black" name="addressState" value="<%= address.addressState %>" id="addressState">
                                                                    <option>Kerala</option>
                                                                    <option>Karnataka</option>
                                                                    <option>Tamil Nadu</option>
                                                                </select>
                                                            </div>
                                                            <div class="col">
                                                                <label for="addressPin">PIN Code</label>
                                                            <input type="text" name="addressPin" class="form-control" id="addressPin_<%= address._id %>" pattern="[0-9]{6}" value="<%= address.addressPin %>">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="addressId" value="<%= address._id %>">
                                                        <div class="form-group text-center">
                                                            <button type="submit" class="btn btn-outline-primary" id="addressSubmitBtn">Update Address</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>                  
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- Address modal -->
<div id="addAddressModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeAddAddressModal()">&times;</span>
        <h3 id="addressModalTitle" class="mb-3 text-center">Add Address</h3>
        <div id="addressMessageContainer" class="message-container text-center fw-bold"></div>
        <form id="addressForm" onsubmit="handleAddAddressFormSubmit(event)">
            <div id="addressErrors" class="text-warning fw-bold text-center"></div>
            <div class="row form-group mb-3">
                <div class="col">
                    <label for="addressName">Name</label>
                    <input type="text" name="addressName" class="form-control" id="addressName">
                </div>
                <div class="col">
                    <label for="addressEmail">Email</label>
                    <input type="email" name="addressEmail" class="form-control" id="addressEmail">
                </div>
            </div>
            <div class="row form-group mb-3">
               <div class="col">
                    <label for="addressMobile">Mobile</label>
                    <input type="tel" name="addressMobile" class="form-control" id="addressMobile">
               </div>
               <div class="col">
                    <label for="addressHouse">House/Flat No.</label>
                    <input type="text" name="addressHouse" class="form-control" id="addressHouse">
               </div>
            </div>
            <div class="row form-group mb-3">
                <div class="col">
                    <label for="addressStreet">Street</label>
                    <input type="text" name="addressStreet" class="form-control" id="addressStreet">
                </div>
                <div class="col">
                    <label for="addressPost">Post Office</label>
                    <input type="text" name="addressPost" class="form-control" id="addressPost">
                </div>
                <div class="col">
                    <label for="addressCity">City</label>
                    <input type="text" name="addressCity" class="form-control" id="addressCity">
                </div>
            </div>
            <div class="row form-group mb-3">
                <div class="col">
                    <label for="addressDistrict">District</label>
                    <input type="text" name="addressDistrict" class="form-control" id="addressDistrict">
                </div>
                <div class="col">
                    <label for="addressState">State</label>
                    <input type="text" name="addressState" class="form-control" id="addressState">
                </div>
                <div class="col">
                    <label for="addressPin">PIN Code</label>
                    <input type="text" name="addressPin" class="form-control" id="addressPin">
                </div>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-outline-primary" id="addressSubmitBtn">Save Address</button>
            </div>
        </form>
    </div>
</div>


    <style>
        header {
            position: relative;
            position: fixed;
            width: 100vw;
            z-index: 999;
        }

        .sidebar {
            position: relative;
            position: absolute;
            position: fixed;
            z-index: 999;
            top: 70px;
        }

        @media (min-width : 992px) {
            .main-panel {
                margin-left: 250px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
        .prodiv {
            box-shadow: 5px 5px 40px rgb(61, 147, 245);
            border-radius: 6%;
        }
        .editref:hover {
            color: red;
        }
        .modal {
            display: none;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function deleteAddress(addressId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'This action cannot be undone.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    fetch(`/account/address/delete_address?id=${addressId}`, {
                        method: 'GET'
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.message === 'Address deleted successfully') {
                                Swal.fire(
                                    'Deleted!',
                                    'Your address has been deleted.',
                                    'success'
                                ).then(() => {
                                    window.location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    data.message || 'There was a problem deleting the address.',
                                    'error'
                                );
                            }
                        })
                        .catch(error => {
                            Swal.fire(
                                'Error!',
                                'There was a problem deleting your address.',
                                'error'
                            );
                        });
                }
            });
        }
    </script>
   <script>

function openEditAddressModal(addressId) {
    const modal = document.getElementById(`addressModal_${addressId}`);
    modal.style.display = 'block';
    const modalTitle = document.getElementById(`addressModalTitle_${addressId}`);
    const submitBtn = document.getElementById(`addressSubmitBtn_${addressId}`); 
}

// Function to open the add address modal
function openAddAddressModal() {
    const modal = document.getElementById('addAddressModal');
    modal.style.display = 'block';
}

// Function to close the edit address modal
function closeEditAddressModal(addressId) {
    const modal = document.getElementById(`addressModal_${addressId}`);
    modal.style.display = 'none';
}

// Function to close the add address modal
function closeAddAddressModal() {
    const modal = document.getElementById('addAddressModal');
    modal.style.display = 'none';
}

// Function to handle edit address form submission
async function handleEditAddressFormSubmit(event) {
    event.preventDefault();
    const addressId = event.target.addressId.value;

    // Collect form data
    const formData = {
        addressName: event.target.addressName.value,
        addressEmail: event.target.addressEmail.value,
        addressMobile: event.target.addressMobile.value,
        addressHouse: event.target.addressHouse.value,
        addressStreet: event.target.addressStreet.value,
        addressPost: event.target.addressPost.value,
        addressCity: event.target.addressCity.value,
        addressDistrict: event.target.addressDistrict.value,
        addressState: event.target.addressState.value,
        addressPin: event.target.addressPin.value
    };

    // Validate form fields
    const errors = validateForm(formData);
    const errorContainer = document.getElementById(`addressErrors_${addressId}`);
    if (errors.length > 0) {
        errorContainer.textContent = errors[0];
        return;
    } else {
        errorContainer.textContent = '';
    }

    const messageContainer = document.getElementById(`addressMessageContainer_${addressId}`);
    try {
        const url = `/account/address/edit/${addressId}`;
        const response = await fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        });
        const data = await response.json();
        if (response.ok) { 
            messageContainer.textContent = data.message || 'Address updated successfully.';
            messageContainer.style.color = 'green';
            setTimeout(() => location.reload(), 1500);
        } else {
            messageContainer.textContent = data.message;
            messageContainer.style.color = 'red';
        }
    } catch (error) {
        messageContainer.textContent = data.message;
        messageContainer.style.color = 'red';
    }
}

// Function to handle add address form submission
async function handleAddAddressFormSubmit(event) {
    event.preventDefault();

    // Collect form data
    const formData = {
        addressName: event.target.addressName.value,
        addressEmail: event.target.addressEmail.value,
        addressMobile: event.target.addressMobile.value,
        addressHouse: event.target.addressHouse.value,
        addressStreet: event.target.addressStreet.value,
        addressPost: event.target.addressPost.value,
        addressCity: event.target.addressCity.value,
        addressDistrict: event.target.addressDistrict.value,
        addressState: event.target.addressState.value,
        addressPin: event.target.addressPin.value
    };
    console.log(formData);

    const errors = validateForm(formData);
    const errorContainer = document.getElementById('addressErrors');
    if (errors.length > 0) {
        errorContainer.textContent = errors[0];
        return;
    } else {
        errorContainer.textContent = '';
    }

    const messageContainer = document.getElementById('addressMessageContainer');
    try {
        const url = `/account/address/add`;
        const response = await fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formData)
        });
        const data = await response.json();
        if (response.ok) {
            messageContainer.textContent = data.message || 'Address updated successfully.';
            messageContainer.style.color = 'green';
            setTimeout(() => location.reload(), 1500);
        } else {
            messageContainer.textContent = data.message;
            messageContainer.style.color = 'red';
        }
    } catch (error) {
        messageContainer.textContent = data.message;
        messageContainer.style.color = 'red';
    }
}

// Function to validate form fields
function validateForm(formData) {
    const errors = [];

    if (!formData.addressName) {
        errors.push('Name is required.');
    }

    if (!formData.addressEmail) {
        errors.push('Email is required.');
    } else if (!isValidEmail(formData.addressEmail)) {
        errors.push('Please enter a valid email address.');
    }

    if (!formData.addressMobile) {
        errors.push('Mobile number is required.');
    } else if (!isValidMobile(formData.addressMobile)) {
        errors.push('Please enter a valid 10-digit mobile number.');
    }

    if (!formData.addressHouse) {
        errors.push('House/Flat No. is required.');
    }

    if (!formData.addressStreet) {
        errors.push('Street is required.');
    }

    if (!formData.addressPost) {
        errors.push('Post Office name is required.');
    }

    if (!formData.addressCity) {
        errors.push('City is required.');
    }

    if (!formData.addressDistrict) {
        errors.push('District is required.');
    }

    if (!formData.addressState) {
        errors.push('State is required.');
    }

    if (!formData.addressPin) {
        errors.push('PIN Code is required.');
    } else if (!isValidPin(formData.addressPin)) {
        errors.push('Please enter a valid 6-digit PIN Code.');
    }

    return errors;
}

// Function to validate email format
function isValidEmail(email) {
    return /^\S+@\S+\.\S+$/.test(email);
}

// Function to validate 10-digit mobile number
function isValidMobile(mobile) {
    return /^[1-9][0-9]{9}$/.test(mobile);
}

// Function to validate 6-digit PIN code
function isValidPin(pin) {
    return /^[0-9]{6}$/.test(pin);
}

</script>

   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $('.sidebar-offcanvas').toggleClass('active');
        });
    });
    </script>

    <%- include('../partials/footer') %>