<%- include('../partials/header') %>
    <!-- header section start -->
    <header class="header border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="header__logo">
                        <a class="text-decoration-none" href="/">
                            <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-none d-md-block">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a class="text-decoration-none" href="/">Home</a></li>
                            <li class="active"><a class="text-decoration-none" href="/shop">Shop</a></li>
                            <% if (isAuthenticated) { %>
                                <li><a class="text-decoration-none" href='/account/profile'>Account</a></li>
                            <% } else { %>
                                <li><a class="text-decoration-none" href="/login">Sign In</a></li>
                            <% } %>
                            <li><a class="text-decoration-none" href="./blog.html">Blog</a></li>
                            <li><a class="text-decoration-none" href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-end align-items-center">
                    <div class="button-container d-flex flex-row">
                        <div class="mb-3 mt-2 ml-auto justify-content-end align-items-end d-flex">
                            <a><img src="/static/img/icon/cart.png" alt=""></a>
                        </div>
                        <button class="navbar-toggler d-lg-none mt-2" type="button" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon fa fa-bars"></span>
                        </button>
                    </div>
                </div>    
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <nav class="navbar-nav active">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="/">Home</a></li>
                        <li><a class="nav-link" href="/shop" style="color: red;">Shop</a></li>
                        <% if (isAuthenticated) { %>
                            <li><a class="text-decoration-none" href='/account/profile'>Account</a></li>
                            <% } else { %>
                                <li><a class="text-decoration-none" href="/login">Sign In</a></li>
                                <% } %>
                                    <li><a class="nav-link" href="./blog.html">Blog</a></li>
                                    <li><a class="nav-link" href="./contact.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option mt-5 pt-5">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Shopping Cart</h4>
                        <div class="breadcrumbs">
                            <a class="text-decoration-none text-dark fw-bold" href="/">Home</a>
                            <a class="text-decoration-none text-dark fw-bold" href="/shop">&nbsp;&gt;&nbsp;Shop</a>
                            <span class="text-muted">&nbsp;&gt;&nbsp;Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->
    <% if(locals.message) { %>
        <div class="alert text-warning text-center" id="message">
            <%= message %>
        </div>
        <% } %>
            <!-- Shopping Cart Section Begin -->
            <section class="shopping-cart spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="shopping__cart__table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th class="ps-5 pe-5">Quantity</th>
                                            <th>Total</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if(cart.length> 0){ %>
                                            <% cart.forEach((carte)=> { %>
                                                <tr>
                                                    <td class="product__cart__item">
                                                        <a href="/product_details/<%= carte.productId %>">
                                                            <div class="product__cart__item__pic">
                                                                <img src="/static/productImages/<%= carte.productImage %>"
                                                                    alt="" height="100px" width="100px">
                                                            </div>
                                                        </a>
                                                        <div class="product__cart__item__text">
                                                            <h5>
                                                                <%= carte.productName %>
                                                            </h5>
                                                            <h6 class="product-price">
                                                                <span id="product-disc-price-<%= carte._id %>">
                                                                    <strong class="text-success">&#8377;<%=
                                                                            carte.productDiscPrice %></strong>
                                                                </span>
                                                                &nbsp;<del
                                                                    class="product-old-price text-small text-muted"
                                                                    id="product-price-<%= carte._id %>"
                                                                    data-unit-rprice="<%= carte.productPrice %>">
                                                                    &#8377;<%= carte.productPrice %>
                                                                </del>
                                                            </h6>
                                                            <p>
                                                                <%= carte.productColor %>
                                                                    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<%=
                                                                        carte.productSize %>
                                                            </p>
                                                        </div>
                                                    </td>
                                                    <td class="quantity__item ps-5 pe-5">
                                                        <div class="quantity">
                                                            <div class="pro-qty-2">
                                                                <button class="qty-down"
                                                                    data-cart-id="<%= carte._id %>">-</button>
                                                                <input type="text" id="quantityUpdate-<%= carte._id %>"
                                                                    data-cart-id="<%= carte._id %>"
                                                                    value="<%= carte.productQuantity %>"
                                                                    data-available-quantity="<%= carte.availableQuantity %>" disabled>
                                                                <button class="qty-up"
                                                                    data-cart-id="<%= carte._id %>">+</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="cart__price" id="priceUpdate-<%= carte._id %>"
                                                        data-unit-price="<%= carte.productDiscPrice %>">
                                                        &#8377;<%= carte.cartPrice.toFixed(2) %>
                                                    </td>
                                                    </td>
                                                    <td class="cart__close">
                                                        <button class="btn" onclick="deleteCart('<%= carte._id %>')">
                                                            <i class="mdi mdi-close"
                                                                style="background-color: transparent;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } else{ %>
                                                        <tr class="text-center">
                                                            <td>Cart is empty!</td>
                                                        </tr>
                                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="cart__total">
                                <h6>Cart total</h6>
                                <ul id="cart-items">
                                    <li>Price (<%= cart.length %>) <span id="subtotal"></span></li>
                                    <li>Discount <span id="discount" class="text-success"></span></li>
                                    <li>Total <span id="total"></span></li>
                                </ul>
                                <div class="align-items-center justify-content-center d-flex">
                                    <a href="/checkout" class="text-decoration-none"><button
                                            class="btn btn-outline-danger rounded-pill" id="checkout-btn">Proceed to
                                            checkout</button></a>
                                </div>
                            </div>
                            <div class="continue_btn text-center mt-5">
                                <a href="/shop"><button class="btn btn-outline-primary">Continue
                                        Shopping</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Shopping Cart Section End -->

            <!-- Footer Section Begin -->
            <footer class="footer" style="background-color: rgb(12, 10, 10);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer__about">
                                <div class="footer__logo">
                                    <a class="text-decoration-none" href="/">
                                        <h1 class="fw-bold" style="font-style: italic;color: white;">Glassics</h1>
                                    </a>
                                </div>
                                <p>The customer is at the heart of our unique business model, which includes design.</p>
                                <a href="#"><img src="img/payment.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                            <div class="footer__widget">
                                <h6>Shopping</h6>
                                <ul>
                                    <li><a class="text-decoration-none" href="#">Glasses Store</a></li>
                                    <li><a class="text-decoration-none" href="#">Trending Glasses</a></li>
                                    <li><a class="text-decoration-none" href="#">Accessories</a></li>
                                    <li><a class="text-decoration-none" href="#">Sale</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6">
                            <div class="footer__widget">
                                <h6>Enquiry</h6>
                                <ul>
                                    <li><a class="text-decoration-none" href="#">Contact Us</a></li>
                                    <li><a class="text-decoration-none" href="#">Payment Methods</a></li>
                                    <li><a class="text-decoration-none" href="#">Delivery</a></li>
                                    <li><a class="text-decoration-none" href="#">Return & Exchanges</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                            <div class="footer__widget">
                                <h6>NewLetter</h6>
                                <div class="footer__newslatter">
                                    <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                                    <form action="#">
                                        <input type="text" placeholder="Your email">
                                        <button type="submit"><span class="fa fa-envelope"></span></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
            <div id="snackbar"></div>

            <style>

                .pro-qty-2 {
                    display: flex;
                    align-items: center;
                }

                .pro-qty-2 input {
                    width: 50px;
                    text-align: center;
                    border: 1px solid #ddd;
                    border-left: none;
                    border-right: none;
                    height: 30px;
                }

                .pro-qty-2 button {
                    background-color: transparent;
                    border: 0;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: bold;
                }

                .pro-qty-2 button:hover {
                    color: blueviolet;
                }

                header {
                    position: relative;
                    top: 0;
                    position: fixed;
                    width: 100%;
                    z-index: 999;
                }

                #snackbar {
                    visibility: hidden;
                    min-width: 250px;
                    margin-left: -125px;
                    background-color: #333;
                    color: #fff;
                    text-align: center;
                    border-radius: 2px;
                    padding: 16px;
                    position: fixed;
                    z-index: 1;
                    left: 50%;
                    bottom: 30px;
                    font-size: 17px;
                }

                #snackbar.show {
                    visibility: visible;
                    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
                    animation: fadein 0.5s, fadeout 0.5s 2.5s;
                }

                @-webkit-keyframes fadein {
                    from {
                        bottom: 0;
                        opacity: 0;
                    }

                    to {
                        bottom: 30px;
                        opacity: 1;
                    }
                }

                @keyframes fadein {
                    from {
                        bottom: 0;
                        opacity: 0;
                    }

                    to {
                        bottom: 30px;
                        opacity: 1;
                    }
                }

                @-webkit-keyframes fadeout {
                    from {
                        bottom: 30px;
                        opacity: 1;
                    }

                    to {
                        bottom: 0;
                        opacity: 0;
                    }
                }

                @keyframes fadeout {
                    from {
                        bottom: 30px;
                        opacity: 1;
                    }

                    to {
                        bottom: 0;
                        opacity: 0;
                    }
                }
            </style>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function showSnackbar(message) {
                    var snackbar = document.getElementById("snackbar");
                    snackbar.className = "show";
                    snackbar.innerHTML = message;
                    setTimeout(function () { snackbar.className = snackbar.className.replace("show", ""); }, 3000);
                }

                document.addEventListener('DOMContentLoaded', () => {
                    const updateQuantity = async (cartId, newQuantity, priceElement, unitPrice) => {
                        const quantities = {};
                        quantities[cartId] = newQuantity;

                        try {
                            const response = await fetch('/update_cart', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({ quantities })
                            });

                            const data = await response.json();
                            if (data.success) {
                                showSnackbar(data.message);
                                const newTotalPrice = unitPrice * newQuantity;
                                priceElement.textContent = `₹${newTotalPrice.toFixed(2)}`;
                                updateCartPrices();
                                if(data.message.includes('Only')){
                                    setTimeout(() => location.reload(),1500);
                                }
                            } else {
                                showSnackbar(data.message);
                            }
                        } catch (error) {
                            showSnackbar("An error occurred while updating the cart.");
                        }
                    };

                    const handleQuantityChange = async (button, increment) => {
                        const cartId = button.getAttribute('data-cart-id');
                        const quantityInput = document.getElementById(`quantityUpdate-${cartId}`);
                        const priceElement = document.getElementById(`priceUpdate-${cartId}`);
                        const unitPrice = parseFloat(priceElement.getAttribute('data-unit-price'));
                        const availableQuantity = parseInt(quantityInput.getAttribute('data-available-quantity'));
                        let currentValue = parseInt(quantityInput.value);
                        if (!isNaN(currentValue)) {
                            const newQuantity = currentValue + increment;
                            if (newQuantity >= 1 && newQuantity <= 10) {
                                quantityInput.value = newQuantity;
                                await updateQuantity(cartId, newQuantity, priceElement, unitPrice);
                            }
                        }
                    };

                    document.querySelectorAll('.qty-up').forEach(button => {
                        button.addEventListener('click', async () => {
                            await handleQuantityChange(button, 1);
                        });
                    });

                    document.querySelectorAll('.qty-down').forEach(button => {
                        button.addEventListener('click', async () => {
                            await handleQuantityChange(button, -1);
                        });
                    });

                    // Function to format price as currency
                    function formatPrice(price) {
                        return `₹${price.toFixed(2)}`;
                    }

                    // Function to calculate subtotal, discount, and total
                    function calculatePrices() {
                        let subtotal = 0;
                        let discount = 0;
                        let total = 0;
                        document.querySelectorAll('input[id^="quantityUpdate-"]').forEach(input => {
                            const cartId = input.getAttribute('data-cart-id');
                            const quantity = parseInt(input.value);
                            const priceElement = document.getElementById(`priceUpdate-${cartId}`);
                            const realPriceElement = document.getElementById(`product-price-${cartId}`);
                            const unitPrice = parseFloat(priceElement.getAttribute('data-unit-price'));
                            const DiscPrice = parseFloat(realPriceElement.getAttribute('data-unit-rprice'));
                            subtotal += DiscPrice * quantity;
                            total += unitPrice * quantity; // Assuming there's no discount applied
                        });
                        discount = subtotal - total; // Calculate discount as the difference between subtotal and total
                        return { subtotal, total, discount };
                    }

                    // Function to update subtotal, discount, and total in the HTML
                    function updateCartPrices() {
                        const prices = calculatePrices();
                        document.getElementById('subtotal').innerHTML = formatPrice(prices.subtotal);
                        document.getElementById('discount').innerHTML = `-${formatPrice(prices.discount)}`;
                        document.getElementById('total').innerHTML = formatPrice(prices.total);
                    }

                    // Initial calculation on page load
                    updateCartPrices();
                });
            </script>

            <script>
                function deleteCart(cartId) {
                    Swal.fire({
                        title: 'Are you sure?',
                        text: 'This action cannot be undone.',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'Cancel',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fetch(`/cart/delete_cart?id=${cartId}`, {
                                method: 'GET'
                            })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.message === 'Cart deleted successfully') {
                                        Swal.fire(
                                            'Deleted!',
                                            'Your item has been deleted.',
                                            'success'
                                        ).then(() => {
                                            window.location.reload();
                                        });
                                    } else {
                                        Swal.fire(
                                            'Error!',
                                            data.message || 'There was a problem deleting the item.',
                                            'error'
                                        );
                                    }
                                })
                                .catch(error => {
                                    Swal.fire(
                                        'Error!',
                                        'There was a problem deleting your item.',
                                        'error'
                                    );
                                });
                        }
                    });
                }
            </script>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <%- include('../partials/footer') %>