<%- include('../partials/header') %>

<div class="container-scroller">
    <header class="header border-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="header__logo">
                        <a class="text-decoration-none" href="/">
                            <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 d-none d-md-block">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a class="text-decoration-none" href="/">Home</a></li>
                            <li><a class="text-decoration-none" href="/shop">Shop</a></li>
                            <li class="active"><a class="text-decoration-none" href="/account/profile">Account</a></li>
                            <li><a class="text-decoration-none" href="./blog.html">Blog</a></li>
                            <li><a class="text-decoration-none" href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-end align-items-center">
                    <div class="header__nav__option mb-3">
                        <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                        <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                        <a href="/cart"><img src="/static/img/icon/cart.png" alt=""></a>
                    </div>
                    <button class="navbar-toggler d-md-none ml-auto mt-1" type="button" data-toggle="collapse"
                        data-target="#navbarNav">
                        <span class="navbar-toggler-icon fa fa-bars"></span>
                    </button>
                    <button class="navbar-toggler navbar-toggler-right d-md-none mb-2" type="button"
                        data-toggle="offcanvas"><span class="fa fa-chevron-down"></span></button>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <nav class="navbar-nav active">
                    <ul class="navbar-nav">
                        <li><a class="nav-link" href="/">Home</a></li>
                        <li><a class="nav-link" href="/shop">Shop</a></li>
                        <li class="active"><a class="nav-link"
                                href="/account/profile" style="color: red;">Account</a></li>
                        <li><a class="nav-link" href="./blog.html">Blog</a></li>
                        <li><a class="nav-link" href="./contact.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper ps-0 pe-0">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas border" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/account/profile">
                        <span class="menu-title">Profile</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/wishlist">
                        <span class="menu-title">Wishlist</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/orders">
                        <span class="menu-title">Orders</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/address">
                        <span class="menu-title">Address</span>
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/wallet">
                        <span class="menu-title">Wallet</span>
                        <i class="mdi mdi-table-large menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item  active bg-gradient-info">
                    <a class="nav-link" href="/account/coupons">
                        <span class="menu-title font-weight-bold text-white">Coupons</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-medical-bag menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span class="menu-title">Logout</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-medical-bag menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel mt-5 w-100">
            <!-- Breadcrumb Section Begin -->
            <section class="breadcrumb-option mt-5" style="background-color: rgb(232, 243, 250);">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb__text ps-4">
                                <h4 class="mt-3">Coupons</h4>
                                <div>
                                    <a class="text-decoration-none text-dark fw-bold"
                                        href="/">Home&nbsp;&gt;&nbsp;</a>
                                    <a class="text-decoration-none text-dark fw-bold"
                                        href="/account/profile">Account</a>
                                    <span>&nbsp;&gt;&nbsp;Coupons</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Breadcrumb Section End -->
            <div class="content-wrapper d-flex justify-content-center " style="background-color: rgb(240, 253, 241);">
                <div class="container mt-5">
                    <!-- Heading and Add Address Button -->
                    <div class="container">
                        <div class="card-grid">
                            <% coupons.forEach((coupon)=> { %>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold mb-4 text-center">
                                            <%= coupon.code %>
                                        </h5>
                                        <p class="text-center"><%= coupon.discount %>% off <br> - Expires on - <br> <%= coupon.expirationDate.toDateString() %></p>
                                        <p class="text-center">Min pay : <%= coupon.minPurchase %></p>
                                        <p class="text-center">Max usage : <%= coupon.usageLimit %></p>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
          <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<style>
    header {
        position: relative;
        position: fixed;
        width: 100vw;
        z-index: 999;
    }

    .sidebar {
        position: relative;
        position: absolute;
        position: fixed;
        z-index: 999;
        top: 104px;
    }

    @media (min-width : 992px) {
        .main-panel {
            margin-left: 250px;
            
        }

        .sidebar {
            margin-top: 12.3px;
        }
    }
    .prodiv {
        box-shadow: 5px 5px 40px rgb(61, 147, 245);
        border-radius: 6%;
    }
    .editref:hover {
        color: red;
    }
    .card-grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;
        }

        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card img {
            height: 200px;
            /* Adjust the height as needed */
            object-fit: cover;
        }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="offcanvas"]').click(function () {
            $('.sidebar-offcanvas').toggleClass('active');
        });
    });
</script>

<%- include('../partials/footer') %>