<%- include('../partials/header') %>

	<!-- Header Section Begin -->
	<%- include('../partials/user-header', { isAuthenticated: isAuthenticated }) %>
    <!-- Header Section End -->

	<!-- Shop Details Section Begin -->
	<section class="shop-details mt-3 pt-4">
		<div class="product__details__pic mt-4 pt-5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details mb-4">
							<a href="/" class="text-black text-decoration-none">Home<span
									class="text-secondary">&nbsp;></span></a>
							<a href="/shop" class="text-black text-decoration-none">Shop<span
									class="text-secondary">&nbsp;></span></a>
							<span class="text-muted">Product Details</span>
						</div>
					</div>
				</div>
			</div>
			<% if(locals.message) { %>
				<div class="alert text-warning text-center" id="message">
					<%= locals.message %>
				</div>
				<% } %>
					<div class="section" style="background-color: white;">
						<!-- container -->
						<div class="container">
							<!-- row -->
							<div class="row">
								<!-- Product main img -->
								<div class="col-md-6 col-md-pull-5">
									<div id="product-carousel" class="carousel slide border" data-ride="carousel">
										<div class="carousel-inner" id="carousel-inner">
											<% product.variants.forEach((variant, variantIndex)=> { %>
												<% variant.images.forEach((image, imageIndex)=> { %>
													<div
														class="carousel-item <%= variantIndex === 0 && imageIndex === 0 ? 'active' : '' %>">
														<img src="/static/productImages/<%= image %>"
															class="d-block w-100 h-100 main-image" alt="Product Image"
															data-toggle="modal" data-target="#imageModal" width="400px"
															height="400px">
													</div>
												<% }) %>
											<% }) %>
										</div>
									</div>

									<!-- Sub-images -->
									<div id="product-imgs" class="d-flex mt-3">
										<% product.variants[0].images.forEach((image, index)=> { %>
											<div class="product-preview mx-1">
												<img src="/static/productImages/<%= image %>" alt="Product Thumbnail"
													class="sub-image" data-index="<%= index %>">
											</div>
											<% }) %>
									</div>
									<!-- /Sub-images -->
								</div>
								<!-- /Product main img -->
								<!-- Zoom Result Container -->
								<div id="zoom-result" class="zoom-result"></div>
								<!-- Product details -->
								<div class="col-md-6 border-left border-right">
									<div class="product-details mt-5 pt-5">
										<h2 class="product-name">
											<%= product.productName %>
										</h2>
										<div class="row">
											<div class="product-rating col">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											
												<a class="review-link text-decoration-none ps-2" href="#">10 Review(s) | Add
													your
													review</a>
											</div>
										</div>
										<div class="text-center">
											<h3 class="product-price text-success">&#8377;<span id="discounted-price">
													<%= product.variants[0].discountPrice ?? product.variants[0].price
														%>
												</span>&nbsp;<del class="product-old-price">&#8377;<span
														id="original-price">
														<%= product.variants[0].price %>
													</span></del></h3>
											<div class="product-available mb-2 me-4">

											</div>
										</div>
										<p><%= product.productDescription %><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation.</p>

										<div class="product-options row">
											<!-- Size Options -->
											<div class="col-md-6">
												<label class="option-label">
													Size
													<div id="sizeOptions" class="scrollable-options ms-3">
														<% product.variants.forEach((variant, index)=> { %>
															<% if (index===0) { %>
																<% variant.subVariants.forEach((subVariant, subIndex)=>
																	{ %>
																	<input type="radio" name="size"
																		id="size<%= subIndex %>"
																		value="<%= subVariant.size %>"
																		data-available="<%= subVariant.quantity %>"
																		<%=subIndex===0 ? 'checked' : '' %>>
																	<label for="size<%= subIndex %>" class="size-label">
																		<%= subVariant.size %>
																	</label>
																	<% }) %>
																		<% } %>
																			<% }) %>
													</div>
												</label>
											</div>

											<!-- Color Options -->
											<div class="col-md-6">
												<label class="option-label">
													Color
													<div id="colorOptions" class="scrollable-options ms-3">
														<% product.variants.forEach((variant, index)=> { %>
															<input type="radio" name="color" id="color<%= index %>"
																value="<%= variant.color%>"
																data-images='<%= JSON.stringify(variant.images) %>'
																data-prices='<%= JSON.stringify(variant.price) %>'
																data-subvariants='<%= JSON.stringify(variant.subVariants) %>'
																data-variant='<%= JSON.stringify({variant, productImage : variant.images, price : variant.price, discountPrice : variant.discountPrice, availableQuantity: variant.availableQuantity}) %>'
																<%=index===0 ? 'checked' : '' %>>
															<label for="color<%= index %>" class="color-label"
																style="background-color: <%= variant.color %>"></label>
															<% }) %>
													</div>
												</label>
											</div>
										</div>
										<div class="add-to-cart">
											<button class="add-to-cart-btn mb-2"><i class="fa fa-shopping-cart"></i> Add
												to Cart</button>
											<button class="buy-now-btn d-none">&nbsp;&nbsp;&nbsp;&nbsp;<i
													class="fa fa-shopping-bag"></i> Buy
												Now&nbsp;&nbsp;&nbsp;&nbsp;</button>
										</div>

										<a href="javascript:void(0);" class="add-wishlist text-decoration-none fw-bold"
                                                        data-product-id="<%= product._id %>">
                                                        <i class="mdi mdi-heart"></i>
                                                        <span>Wishlist</span>
                                                    </a>																	
										

										<ul class="product-links">
											<li>Category:</li>
											<li><a href="#" class="text-decoration-none">
													<%= product.productCategory.categoryName %>
												</a></li>
										</ul>

										<ul class="product-links">
											<li>Share:</li>
											<li><a href="#"><i class="mdi mdi-facebook"></i></a></li>
											<li><a href="#"><i class="mdi mdi-twitter"></i></a></li>
											<li><a href="#"><i class="mdi mdi-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-envelope"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Product details -->

								<div class="container">
									<div class="col-md-12">
										<div id="product-tab">
											<!-- product tab nav -->
											<ul class="nav tab-navs active tab-nav flex-row">
												<li class="nav-item col-12 col-md-3 ms-3">
													<a class="nav-link border-0" data-toggle="tab"
														href="#tab1">Description</a>
												</li>
												<li class="nav-item col-12 col-md-3">
													<a class="nav-link border-0" data-toggle="tab"
														href="#tab2">Details</a>
												</li>
												<li class="nav-item col-12 col-md-3">
													<a class="nav-link border-0" data-toggle="tab" href="#tab3">Reviews
														(3)</a>
												</li>
											</ul>
											<!-- /product tab nav -->

											<!-- product tab content -->
											<div class="tab-content">
												<!-- tab1  -->
												<div id="tab1" class="tab-pane fade show active">
													<div class="row">
														<div class="col-md-12">
															<p>
																<%= product.productDescription %>
															</p>
														</div>
													</div>
												</div>
												<!-- /tab1  -->

												<!-- tab2  -->
												<div id="tab2" class="tab-pane fade">
													<div class="row">
														<div class="col-md-12">
															<div class="row">
																<div class="col-12 col-md-4">
																	<p><strong>Product Name :</strong>
																		<%= product.productName %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Product Category :</strong>
																		<%= product.productCategory.categoryName %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Product Brand :</strong>
																		<%= product.productBrand.brandName %>
																	</p>
																</div>
															</div>
															<div class="row">
																<div class="col-12 col-md-4">
																	<p><strong>Product Gender :</strong>
																		<%= product.productGender %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Frame material:</strong>
																		<%= product.frameMaterial %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Frame shape:</strong>
																		<%= product.frameShape %>
																	</p>
																</div>
															</div>
															<div class="row">
																<div class="col-12 col-md-4">
																	<p><strong>Frame style:</strong>
																		<%= product.frameStyle %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Lens type:</strong>
																		<%= product.lensType %>
																	</p>
																</div>
																<div class="col-12 col-md-4">
																	<p><strong>Special features:</strong>
																		<%= product.specialFeatures %>
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!-- /tab2  -->

												<!-- tab3  -->
												<div id="tab3" class="tab-pane fade">
													<div class="row">
														<!-- Rating -->
														<div class="col-md-4">
															<div id="rating">
																<div class="rating-avg">
																	<span>4.5</span>
																	<div class="rating-stars">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</div>
																</div>
																<ul class="rating">
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-progress">
																			<div style="width: 80%;"></div>
																		</div>
																		<span class="sum">3</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div style="width: 60%;"></div>
																		</div>
																		<span class="sum">2</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																</ul>
															</div>
														</div>
														<!-- /Rating -->

														<!-- Reviews -->
														<div class="col-md-5">
															<div id="reviews">
																<ul class="reviews">
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																</ul>
																<ul class="reviews-pagination">
																	<li class="active">1</li>
																	<li><a href="#">2</a></li>
																	<li><a href="#">3</a></li>
																	<li><a href="#">4</a></li>
																	<li><a href="#"><i
																				class="fa fa-angle-right"></i></a></li>
																</ul>
															</div>
														</div>
														<!-- /Reviews -->

														<!-- Review Form -->
														<div class="col-md-3">
															<div id="review-form">
																<form class="review-form">
																	<input class="input" type="text"
																		placeholder="Your Name">
																	<input class="input" type="email"
																		placeholder="Your Email">
																	<textarea class="input"
																		placeholder="Your Review"></textarea>
																	<div class="input-rating">
																		<span>Your Rating: </span>
																		<div class="stars">
																			<input id="star5" name="rating" value="5"
																				type="radio"><label for="star5"></label>
																			<input id="star4" name="rating" value="4"
																				type="radio"><label for="star4"></label>
																			<input id="star3" name="rating" value="3"
																				type="radio"><label for="star3"></label>
																			<input id="star2" name="rating" value="2"
																				type="radio"><label for="star2"></label>
																			<input id="star1" name="rating" value="1"
																				type="radio"><label for="star1"></label>
																		</div>
																	</div>
																	<button class="primary-btn">Submit</button>
																</form>
															</div>
														</div>
														<!-- /Review Form -->
													</div>
												</div>
												<!-- /tab3  -->
											</div>
											<!-- /product tab content  -->
										</div>
									</div>
								</div>
							</div>
							<!-- /row -->
						</div>
						<!-- /container -->
					</div>
					<!-- /SECTION -->
		</div>
	</section>
	<!-- Shop Details Section End -->

	<!-- Related Section Begin -->
	<section class="related spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="related-title">Related Product</h3>
				</div>
			</div>
			<!-- Scrollable container -->
			<div class="row">
				<div class="col-lg-12">
					<div class="related-products-scroll">
						<div class="related-products-inner">
							<% reproducts.forEach(product=> { %>
								<div class="related-product-item">
									<div class="product__item">
										<div class="product__item__pic set-bg"
											style="background-image: url('/static/productImages/<%= product.variants[0].images[0] %>');"
											id="product-image-<%= product._id %>">
											<ul class="product__hover">
												<li><a href=""><img src="/static/img/icon/heart.png"
															data-product-id="<%= product._id %>" class="add-wishlist"
															alt=""
															style="background: transparent;"><span>Wishlist</span></a>
												</li>
												<li><a href="#"><img src="/static/img/icon/compare.png" alt=""
															style="background: transparent;"> <span>Compare</span></a>
												</li>
												<li><a href="/product_details/<%= product._id %>"><img
															src="/static/img/icon/search.png" alt=""
															style="background: transparent;"><span>Details</span></a>
												</li>
											</ul>
										</div>
										<div class="product__item__text" style="background-color: whitesmoke;">
											<h5 class="ps-4 pname">
												<%= product.productName %>
											</h5>
											<div class="rating ms-4">
												<% for (let i=0; i < 5; i++) { %>
													<i class="fa fa-star"></i>
													<% } %>
											</div>
											<h5 class="product-price ps-4">
												<span id="product-disc-price-<%= product._id %>">
													<%= product.productDiscPrice %>
												</span>
												&nbsp;&nbsp;
												<del class="product-old-price text-muted text-small"
													id="product-price-<%= product._id %>">
													&#8377;<%= product.productPrice %>
												</del>
											</h5>
											<a href="" class="add-cart ps-4 text-decoration-none"
												data-product-id="<%= product._id %>">+ Add To Cart</a><br>
											<a href="/product_details/<%= product._id %>"
												class="mt-4 ps-4 text-decoration-none">&gt; Details</a>
											<div class="product__color__select me-4 mb-3">
												<% product.variants.forEach((variant, index)=> { %>
													<label for="pc-<%= product._id %>-<%= index %>"
														class="<%= index === 0 ? 'active' : '' %>"
														style="background-color : <%= variant.color %>">
														<input type="radio" name="color-<%= product._id %>"
															id="pc-<%= product._id %>-<%= index %>"
															data-image-url="/static/productImages/<%= variant.images[0] %>"
															data-price="<%= variant.price %>"
															data-disc-price="<%= variant.discountPrice %>" <%=index===0
															? 'checked' : '' %>>
													</label>
													<% }); %>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related Section End -->


	<!-- Footer Section Begin -->
	<footer class="footer" style="background-color: rgb(12, 10, 10);">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a class="text-decoration-none" href="/">
								<h1 class="fw-bold" style="font-style: italic;color: white;">Glassics</h1>
							</a>
						</div>
						<p>The customer is at the heart of our unique business model, which includes design.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a class="text-decoration-none" href="#">Glasses Store</a></li>
							<li><a class="text-decoration-none" href="#">Trending Glasses</a></li>
							<li><a class="text-decoration-none" href="#">Accessories</a></li>
							<li><a class="text-decoration-none" href="#">Sale</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Enquiry</h6>
						<ul>
							<li><a class="text-decoration-none" href="#">Contact Us</a></li>
							<li><a class="text-decoration-none" href="#">Payment Methods</a></li>
							<li><a class="text-decoration-none" href="#">Delivery</a></li>
							<li><a class="text-decoration-none" href="#">Return & Exchanges</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>NewLetter</h6>
						<div class="footer__newslatter">
							<p>Be the first to know about new arrivals, look books, sales & promos!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit"><span class="fa fa-envelope"></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<style>
		.related-products-scroll {
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			-ms-overflow-style: none;
			scrollbar-width: none;
		}

		.related-product-item {
			display: inline-block;
			width: 250px;
			margin-right: 20px;
		}

		.related-products-inner::after {
			content: '';
			display: inline-block;
			width: 20px;
		}

		.nav-tabs {
			display: flex;
			justify-content: flex-start;
		}

		.nav-item {
			margin-bottom: -1px;
		}

		.nav-link {
			border: 1px solid transparent;
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}

		.nav-link.active {
			color: #495057;
			background-color: #fff;
			border-color: #dee2e6 #dee2e6 #fff;
		}

		.nav-link:hover {
			background-color: #e0dddd;
			color: white;
		}

		#product-imgs {
			display: flex;
			justify-content: center;
		}

		.product-preview {
			border: 2px solid transparent;
			cursor: pointer;
		}

		.product-preview.active {
			border-color: #fc0505;
		}

		.product-preview img {
			max-width: 80px;
			max-height: 80px;
		}

		.scrollable-options {
			display: flex;
			flex-wrap: nowrap;
			max-height: 100px;
			overflow-x: auto;
			overflow-y: hidden;
			padding: 10px;
			border-radius: 5px;
			margin-top: 5px;

			-ms-overflow-style: none;
			scrollbar-width: none;
		}

		.scrollable-options::-webkit-scrollbar {
			display: none;
		}


		.size-option {
			flex: 0 0 auto;
			margin-right: 10px;
		}

		input[type="radio"] {
			display: none;
		}

		.size-label {
			padding: 5px 15px;
			margin-right: 5px;
			cursor: pointer;
			border: 1px solid black;
			border-radius: 5px;
			background-color: white;
			display: inline-block;
		}

		.size-label:hover,
		.size-label:focus {
			border-color: #999;
		}

		input[type="radio"]:checked+.size-label {
			background-color: black;
			color: white;
			border-color: white;
		}

		.color-label {
			padding: 15px 15px;
			margin-right: 5px;
			cursor: pointer;
			border: 2px solid #ddd;
			border-radius: 50%;
		}

		.color-label:hover,
		.color-label:focus {
			border-color: #999;
		}

		input[type="radio"]:checked+.color-label {
			border-color: goldenrod;
		}

		.zoom-result {
			width: 400px;
			height: 400px;
			position: absolute;
			top: 150px;
			left: 800px;
			background-repeat: no-repeat;
			display: none;
			z-index: 1;
		}

		.zoom-lens {
			position: absolute;
			width: 100px;
			height: 100px;
			display: none;
			cursor: crosshair;
		}
		header {
            position: fixed;
            top:0;
            width: 100%;
            z-index: 999;
        }
	</style>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="/static/js/product_details.js"></script>
	<script>
		// Add to cart functionality
		document.querySelector('.add-to-cart-btn').addEventListener('click', async () => {
			try {
				const productId = '<%= product._id %>';
				const quantity = 1;
				const selectedColorElement = document.querySelector('input[name="color"]:checked');
				const selectedColor = selectedColorElement.value;
				const selectedSize = document.querySelector('input[name="size"]:checked').value;
				const variantData = JSON.parse(selectedColorElement.dataset.variant);
				const selectedSizeRadio = document.querySelector('input[name="size"]:checked');
				const selectedSubVariantData = selectedSizeRadio.getAttribute('data-subvariant');
				const selectedSubVariant = JSON.parse(selectedSubVariantData);
				const availableQuantity = selectedSubVariant.quantity

				if (availableQuantity > 0) {
					const response = await fetch('/add_cart', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({
							productId,
							quantity,
							color: selectedColor,
							size: selectedSize,
							productImage: variantData.productImage[0],
							productPrice: variantData.price,
							productDiscPrice: variantData.discountPrice,
						})
					});

					if (!response.ok) {
						throw new Error('Failed to add item to cart');
					}

					const data = await response.json();
					if (data && data.message) {
						Swal.fire({
							icon: 'success',
							title: 'Added to Cart',
							text: data.message,
							showConfirmButton: true,
							confirmButtonText: 'Go to Cart'
						}).then((result) => {
							if (result.isConfirmed) {
								window.location.href = '/cart';
							}
						});
					} else if (data && data.error) {
						Swal.fire({
							icon: 'error',
							title: 'Error',
							text: data.error
						});
					} else {
						throw new Error('Invalid response format');
					}
				} else {
					Swal.fire({
						icon: 'error',
						title: 'Error',
						text: 'Product is out of stock'
					})
				}
			} catch (error) {
				Swal.fire({
					icon: 'error',
					title: 'Error',
					text: error.message
				});
			}
		});

		document.addEventListener('DOMContentLoaded', function() {
    const wishlistButton = document.querySelector('.add-wishlist');

    if (wishlistButton) {
        wishlistButton.addEventListener('click', async (event) => {
            event.preventDefault();
            const productId = wishlistButton.getAttribute('data-product-id');
            
            try {
                const response = await fetch('/account/wishlist/add_wishlist', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ productId })
                });

                if (response.ok) {
                    // Update UI to indicate product has been added to wishlist
                    wishlistButton.querySelector('i').className = 'mdi mdi-heart text-danger';
                    wishlistButton.setAttribute('data-in-wishlist', 'true');

                    Swal.fire({
                        title: 'Added!',
                        text: 'Product has been added to your wishlist.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                } else {
                    const errorData = await response.json();
                    console.error('Error:', errorData);
                    Swal.fire({
                        title: 'Error!',
                        text: 'Error adding product to wishlist.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.error('Fetch error:', error);
                Swal.fire({
                    title: 'Error!',
                    text: 'Error adding product to wishlist.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        });
    }
});




	</script>
	
	<!-- Js Plugins -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- Include Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<%- include('../partials/footer') %>