<%- include('../partials/header') %>

	<!-- Header Section Begin -->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a href="./inex.html"><img src="/static/img/logo.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li><a class="text-decoration-none" href="/">Home</a></li>
							<li class="active"><a class="text-decoration-none" href="/shop">Shop</a></li>
							<% if (isAuthenticated) { %>
								<li><a class="text-decoration-none"
										href='/account/<%= user.userName %>/profile'>Account</a></li>
								<% } else { %>
									<li><a class="text-decoration-none" href="/login">Sign In</a></li>
									<% } %>
										<li><a class="text-decoration-none" href="./blog.html">Blog</a></li>
										<li><a class="text-decoration-none" href="./contact.html">Contacts</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
						<a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
						<a href="/cart"><img src="/static/img/icon/cart.png" alt=""> <span>0</span></a>
					</div>
				</div>
			</div>
			<div class="canvas__open"><i class="fa fa-bars"></i></div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Shop Details Section Begin -->
	<section class="shop-details">
		<div class="product__details__pic">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details mb-5">
							<a href="/" class="text-black text-decoration-none">Home<span
									class="text-secondary">&nbsp;></span></a>
							<a href="/shop" class="text-black text-decoration-none">Shop<span
									class="text-secondary">&nbsp;></span></a>
							<span class="text-muted">Product Details</span>
						</div>
					</div>
				</div>
			</div>
			<% if(locals.message) { %>
				<div class="alert text-warning text-center" id="message">
					<%= message %>
				</div>
				<% } %>
					<div class="section">
						<!-- container -->
						<div class="container">
							<!-- row -->
							<div class="row">
								<!-- Product main img -->
								<div class="col-md-6 col-md-pull-5">
									<div id="product-carousel" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner" id="carousel-inner">
											<% product.variants.forEach((variant, variantIndex)=> { %>
												<% variant.images.forEach((image, imageIndex)=> { %>
													<div
														class="carousel-item <%= variantIndex === 0 && imageIndex === 0 ? 'active' : '' %>">
														<img src="/static/productImages/<%= image %>"
															class="d-block w-100 h-100 main-image" alt="Product Image"
															data-toggle="modal" data-target="#imageModal" width="400px"
															height="400px">
													</div>
													<% }) %>
														<% }) %>
										</div>
									</div>

									<!-- Sub-images -->
									<div id="product-imgs" class="d-flex mt-3">
										<% product.variants[0].images.forEach((image, index)=> { %>
											<div class="product-preview mx-1">
												<img src="/static/productImages/<%= image %>" alt="Product Thumbnail"
													class="sub-image" data-index="<%= index %>">
											</div>
											<% }) %>
									</div>
									<!-- /Sub-images -->
								</div>
								<!-- /Product main img -->
								<!-- Zoom Result Container -->
								<div id="zoom-result" class="zoom-result"></div>
								<!-- Product details -->
								<div class="col-md-6 border-left">
									<div class="product-details">
										<h2 class="product-name">
											<%= product.productName %>
										</h2>
										<div>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<a class="review-link text-decoration-none" href="#">10 Review(s) | Add your
												review</a>
										</div>
										<div>
											<h3 class="product-price">&#8377;<span id="discounted-price">
													<%= product.variants[0].discountPrice ?? product.variants[0].price
														%>
												</span>&nbsp;<del class="product-old-price">&#8377;<span
														id="original-price">
														<%= product.variants[0].price %>
													</span></del></h3>
											<div class="product-available mb-2">

											</div>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
											tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
											quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
											consequat.</p>

										<div class="product-options row">
											<!-- Size Options -->
											<div class="col-md-6">
												<label class="option-label">
													Size
													<div id="sizeOptions" class="scrollable-options">
														<% product.variants.forEach((variant, index)=> { %>
															<% if (index===0) { %>
																<% variant.subVariants.forEach((subVariant, subIndex)=>
																	{ %>
																	<input type="radio" name="size"
																		id="size<%= subIndex %>"
																		value="<%= subVariant.size %>" <%=subIndex===0
																		? 'checked' : '' %>>
																	<label for="size<%= subIndex %>" class="size-label">
																		<%= subVariant.size %>
																	</label>
																	<% }) %>
																		<% } %>
																			<% }) %>
													</div>
												</label>
											</div>

											<!-- Color Options -->
											<div class="col-md-6">
												<label class="option-label">
													Color
													<div id="colorOptions" class="scrollable-options">
														<% product.variants.forEach((variant, index)=> { %>
															<input type="radio" name="color" id="color<%= index %>"
																value="<%= index %>"
																data-images='<%= JSON.stringify(variant.images) %>'
																data-prices='<%= JSON.stringify(variant.price) %>'
																data-subvariants='<%= JSON.stringify(variant.subVariants) %>'
																data-variant='<%= JSON.stringify(variant) %>'
																<%=index===0 ? 'checked' : '' %>>
															<label for="color<%= index %>" class="color-label"
																style="background-color: <%= variant.color %>"></label>
															<% }) %>
													</div>
												</label>
											</div>
										</div>
										<div class="add-to-cart">
											<div class="qty-label">
												Qty
												<div class="input-number">
													<input type="number" name="quantityInput" id="quantityInput"
														value="1">
													<span class="qty-up">+</span>
													<span class="qty-down">-</span>
												</div>
											</div>
											<a href="/cart"><button class="add-to-cart-btn"><i
														class="fa fa-shopping-cart"></i> Add to Cart</button></a>
											<button class="buy-now-btn"><i class="fa fa-shopping-bag"></i> Buy
												Now</button>
										</div>

										<ul class="product-btns">
											<li><a href="#" class="text-decoration-none"><i class="fa fa-heart-o"></i>
													add to wishlist</a></li>
											<li><a href="#" class="text-decoration-none"><i class="fa fa-exchange"></i>
													add to compare</a></li>
										</ul>

										<ul class="product-links">
											<li>Category:</li>
											<li><a href="#" class="text-decoration-none">
													<%= product.productCategory %>
												</a></li>
										</ul>

										<ul class="product-links">
											<li>Share:</li>
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
											<li><a href="#"><i class="fa fa-envelope"></i></a></li>
										</ul>
									</div>
								</div>
								<!-- /Product details -->

								<div class="container">
									<div class="col-md-12">
										<div id="product-tab">
											<!-- product tab nav -->
											<ul class="nav tab-navs active tab-nav flex-row">
												<li class="nav-item col-12 col-md-3 ms-3">
													<a class="nav-link border-0" data-toggle="tab"
														href="#tab1">Description</a>
												</li>
												<li class="nav-item col-12 col-md-3">
													<a class="nav-link border-0" data-toggle="tab"
														href="#tab2">Details</a>
												</li>
												<li class="nav-item col-12 col-md-3">
													<a class="nav-link border-0" data-toggle="tab" href="#tab3">Reviews
														(3)</a>
												</li>
											</ul>
											<!-- /product tab nav -->

											<!-- product tab content -->
											<div class="tab-content">
												<!-- tab1  -->
												<div id="tab1" class="tab-pane fade show active">
													<div class="row">
														<div class="col-md-12">
															<p>
																<%= product.productDescription %>
															</p>
														</div>
													</div>
												</div>
												<!-- /tab1  -->

												<!-- tab2  -->
												<div id="tab2" class="tab-pane fade">
													<div class="row">
														<div class="col-md-12">
															<p><strong>Product Name :</strong>
																<%= product.productName %>
															</p>
															<p><strong>Product Category :</strong>
																<%= product.productCategory %>
															</p>
															<p><strong>Product Brand :</strong>
																<%= product.productBrand %>
															</p>
															<p><strong>Frame material:</strong>
																<%= product.frameMaterial %>
															</p>
															<p><strong>Frame shape:</strong>
																<%= product.frameShape %>
															</p>
															<p><strong>Frame style:</strong>
																<%= product.frameStyle %>
															</p>
															<p><strong>Lens type:</strong>
																<%= product.lensType %>
															</p>
															<p><strong>Special features:</strong>
																<%= product.specialFeatures %>
															</p>

														</div>
													</div>
												</div>
												<!-- /tab2  -->

												<!-- tab3  -->
												<div id="tab3" class="tab-pane fade">
													<div class="row">
														<!-- Rating -->
														<div class="col-md-4">
															<div id="rating">
																<div class="rating-avg">
																	<span>4.5</span>
																	<div class="rating-stars">
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star"></i>
																		<i class="fa fa-star-o"></i>
																	</div>
																</div>
																<ul class="rating">
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																		</div>
																		<div class="rating-progress">
																			<div style="width: 80%;"></div>
																		</div>
																		<span class="sum">3</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div style="width: 60%;"></div>
																		</div>
																		<span class="sum">2</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																	<li>
																		<div class="rating-stars">
																			<i class="fa fa-star"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																			<i class="fa fa-star-o"></i>
																		</div>
																		<div class="rating-progress">
																			<div></div>
																		</div>
																		<span class="sum">0</span>
																	</li>
																</ul>
															</div>
														</div>
														<!-- /Rating -->

														<!-- Reviews -->
														<div class="col-md-5">
															<div id="reviews">
																<ul class="reviews">
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																	<li>
																		<div class="review-heading">
																			<h5 class="name">John</h5>
																			<p class="date">27 DEC 2018, 8:0 PM</p>
																			<div class="review-rating">
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star"></i>
																				<i class="fa fa-star-o empty"></i>
																			</div>
																		</div>
																		<div class="review-body">
																			<p>Lorem ipsum dolor sit amet, consectetur
																				adipisicing elit, sed do eiusmod tempor
																				incididunt ut labore et dolore magna
																				aliqua...</p>
																		</div>
																	</li>
																</ul>
																<ul class="reviews-pagination">
																	<li class="active">1</li>
																	<li><a href="#">2</a></li>
																	<li><a href="#">3</a></li>
																	<li><a href="#">4</a></li>
																	<li><a href="#"><i
																				class="fa fa-angle-right"></i></a></li>
																</ul>
															</div>
														</div>
														<!-- /Reviews -->

														<!-- Review Form -->
														<div class="col-md-3">
															<div id="review-form">
																<form class="review-form">
																	<input class="input" type="text"
																		placeholder="Your Name">
																	<input class="input" type="email"
																		placeholder="Your Email">
																	<textarea class="input"
																		placeholder="Your Review"></textarea>
																	<div class="input-rating">
																		<span>Your Rating: </span>
																		<div class="stars">
																			<input id="star5" name="rating" value="5"
																				type="radio"><label for="star5"></label>
																			<input id="star4" name="rating" value="4"
																				type="radio"><label for="star4"></label>
																			<input id="star3" name="rating" value="3"
																				type="radio"><label for="star3"></label>
																			<input id="star2" name="rating" value="2"
																				type="radio"><label for="star2"></label>
																			<input id="star1" name="rating" value="1"
																				type="radio"><label for="star1"></label>
																		</div>
																	</div>
																	<button class="primary-btn">Submit</button>
																</form>
															</div>
														</div>
														<!-- /Review Form -->
													</div>
												</div>
												<!-- /tab3  -->
											</div>
											<!-- /product tab content  -->
										</div>
									</div>
								</div>
							</div>
							<!-- /row -->
						</div>
						<!-- /container -->
					</div>
					<!-- /SECTION -->
		</div>
	</section>
	<!-- Shop Details Section End -->

	<!-- Related Section Begin -->
	<section class="related spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="related-title">Related Product</h3>
				</div>
			</div>
			<!-- Scrollable container -->
			<div class="row">
				<div class="col-lg-12">
					<div class="related-products-scroll">
						<div class="related-products-inner">
							<% reproducts.forEach(product=> { %>
								<div class="related-product-item">
									<div class="product__item">
										<div class="product__item__pic set-bg"
											style="background-image: url('/static/productImages/<%= product.variants[0].images[0] %>');"
											id="product-image-<%= product._id %>">
											<ul class="product__hover">
												<li><a href=""><img src="/static/img/icon/heart.png"
															data-product-id="<%= product._id %>" class="add-wishlist"
															alt=""
															style="background: transparent;"><span>Wishlist</span></a>
												</li>
												<li><a href="#"><img src="/static/img/icon/compare.png" alt=""
															style="background: transparent;"> <span>Compare</span></a>
												</li>
												<li><a href="/product_details/<%= product._id %>"><img
															src="/static/img/icon/search.png" alt=""
															style="background: transparent;"><span>Details</span></a>
												</li>
											</ul>
										</div>
										<div class="product__item__text" style="background-color: whitesmoke;">
											<h5 class="ps-4 pname">
												<%= product.productName %>
											</h5>
											<div class="rating ms-4">
												<% for (let i=0; i < 5; i++) { %>
													<i class="fa fa-star"></i>
													<% } %>
											</div>
											<h5 class="product-price ps-4">
												<span id="product-disc-price-<%= product._id %>">
													<%= product.productDiscPrice %>
												</span>
												&nbsp;&nbsp;
												<del class="product-old-price text-muted text-small"
													id="product-price-<%= product._id %>">
													&#8377;<%= product.productPrice %>
												</del>
											</h5>
											<a href="" class="add-cart ps-4 text-decoration-none"
												data-product-id="<%= product._id %>">+ Add To Cart</a><br>
											<a href="/product_details/<%= product._id %>"
												class="mt-4 ps-4 text-decoration-none">&gt; Details</a>
											<div class="product__color__select me-4 mb-3">
												<% product.variants.forEach((variant, index)=> { %>
													<label for="pc-<%= product._id %>-<%= index %>"
														class="<%= index === 0 ? 'active' : '' %>"
														style="background-color : <%= variant.color %>">
														<input type="radio" name="color-<%= product._id %>"
															id="pc-<%= product._id %>-<%= index %>"
															data-image-url="/static/productImages/<%= variant.images[0] %>"
															data-price="<%= variant.price %>"
															data-disc-price="<%= variant.discountPrice %>" <%=index===0
															? 'checked' : '' %>>
													</label>
													<% }); %>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related Section End -->


	<!-- Footer Section Begin -->
	<footer class="footer" style="background-color: rgb(12, 10, 10);">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							<a href="#"><img src="/static/img/footer-logo.png" alt=""></a>
						</div>
						<p>The customer is at the heart of our unique business model, which includes design.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a class="text-decoration-none" href="#">Glasses Store</a></li>
							<li><a class="text-decoration-none" href="#">Trending Glasses</a></li>
							<li><a class="text-decoration-none" href="#">Accessories</a></li>
							<li><a class="text-decoration-none" href="#">Sale</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Enquiry</h6>
						<ul>
							<li><a class="text-decoration-none" href="#">Contact Us</a></li>
							<li><a class="text-decoration-none" href="#">Payment Methods</a></li>
							<li><a class="text-decoration-none" href="#">Delivery</a></li>
							<li><a class="text-decoration-none" href="#">Return & Exchanges</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>NewLetter</h6>
						<div class="footer__newslatter">
							<p>Be the first to know about new arrivals, look books, sales & promos!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit"><span class="icon_mail_alt"></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<style>
		.related-products-scroll {
			overflow-x: auto;
			overflow-y: hidden;
			white-space: nowrap;
			-ms-overflow-style: none;
			scrollbar-width: none;
			/* Adjust margin as needed */
		}

		.related-product-item {
			display: inline-block;
			width: 250px;
			/* Adjust the width of each product item as needed */
			margin-right: 20px;
			/* Adjust the right margin between product items as needed */
		}

		/* Ensure there's no space at the end of the row */
		.related-products-inner::after {
			content: '';
			display: inline-block;
			width: 20px;
			/* Adjust the width to match the margin-right of product items */
		}

		.nav-tabs {
			display: flex;
			justify-content: flex-start;
		}

		.nav-item {
			margin-bottom: -1px;
		}

		.nav-link {
			border: 1px solid transparent;
			border-top-left-radius: .25rem;
			border-top-right-radius: .25rem;
		}

		.nav-link.active {
			color: #495057;
			background-color: #fff;
			border-color: #dee2e6 #dee2e6 #fff;
		}

		#product-imgs {
			display: flex;
			justify-content: center;
		}

		.product-preview {
			border: 2px solid transparent;
			cursor: pointer;
		}

		.product-preview.active {
			border-color: #fc0505;
			/* Change this to your desired active border color */
		}

		.product-preview img {
			max-width: 80px;
			/* Adjust size as needed */
			max-height: 80px;
			/* Adjust size as needed */
		}

		.scrollable-options {
			display: flex;
			flex-wrap: nowrap;
			/* Ensure items stay in a single line */
			max-height: 100px;
			/* Adjust as needed */
			overflow-x: auto;
			/* Enable horizontal scrolling */
			overflow-y: hidden;
			/* Hide vertical overflow */
			padding: 10px;
			border-radius: 5px;
			margin-top: 5px;
			/* Add margin to position label above */
			-ms-overflow-style: none;
			/* Hide scrollbar in IE */
			scrollbar-width: none;
			/* Hide scrollbar in Firefox */
		}

		.scrollable-options::-webkit-scrollbar {
			display: none;
		}


		.size-option {
			flex: 0 0 auto;
			margin-right: 10px;
			/* Adjust spacing between options as needed */
		}

		/* Hide radio buttons */
		input[type="radio"] {
			display: none;
		}

		/* Style size labels */
		.size-label {
			padding: 5px 15px;
			margin-right: 5px;
			cursor: pointer;
			border: 1px solid black;
			border-radius: 5px;
			background-color: white;
			display: inline-block;
		}

		.size-label:hover,
		.size-label:focus {
			border-color: #999;
		}

		input[type="radio"]:checked+.size-label {
			background-color: black;
			color: white;
			border-color: white;
		}

		/* Style color labels */
		.color-label {
			padding: 15px 15px;
			margin-right: 5px;
			cursor: pointer;
			border: 2px solid #ddd;
			border-radius: 50%;
		}

		.color-label:hover,
		.color-label:focus {
			border-color: #999;
		}

		input[type="radio"]:checked+.color-label {
			border-color: goldenrod;
		}

		.zoom-result {
			width: 400px;
			height: 400px;
			position: absolute;
			top: 150px;
			left: 800px;
			/* Adjust this as per your layout */
			background-repeat: no-repeat;
			display: none;
			z-index: 1;
		}

		.zoom-lens {
			position: absolute;
			width: 100px;
			height: 100px;
			display: none;
			cursor: crosshair;
		}
	</style>
	<script>
		document.addEventListener('DOMContentLoaded', () => {
			const mainCarousel = $('#product-carousel');
			const subImages = document.querySelectorAll('.sub-image');
			const modalImage = document.getElementById('modalImage');
			const sizeOptions = document.getElementById('sizeOptions');

			// Sub-image click event
			subImages.forEach(subImage => {
				subImage.addEventListener('click', function () {
					const index = this.getAttribute('data-index');
					mainCarousel.carousel(parseInt(index));
					updateActiveSubImage(index);
				});
			});

			// Update sub-image active border
			function updateActiveSubImage(activeIndex) {
				subImages.forEach((img, index) => {
					img.parentElement.classList.toggle('active', index == activeIndex);
				});
			}

			// Main image carousel slide event
			mainCarousel.on('slide.bs.carousel', function (e) {
				updateActiveSubImage(e.to);
				initZoom();
			});

			// Main image click event to show modal
			document.querySelectorAll('.main-image').forEach(image => {
				image.addEventListener('click', function () {
					modalImage.src = this.src;
				});
			});

			// Initialize first sub-image as active
			updateActiveSubImage(0);

			// Color option change event
			const colorOptions = document.querySelectorAll('input[name="color"]');
			const carouselInner = document.getElementById('carousel-inner');
			const productImgs = document.getElementById('product-imgs');

			const zoomResult = document.getElementById('zoom-result');
			const zoomLens = document.createElement('div');
			zoomLens.setAttribute('class', 'zoom-lens');
			document.body.appendChild(zoomLens);

			function initZoom() {
				const activeImage = document.querySelector('.carousel-item.active .main-image');
				if (activeImage) {
					activeImage.addEventListener('mouseover', showZoom);
					activeImage.addEventListener('mousemove', moveLens);
					activeImage.addEventListener('mouseout', hideZoom);
				}
			}

			function showZoom(e) {
				const image = e.target;
				zoomLens.style.display = 'block';
				zoomResult.style.display = 'block';
				zoomResult.style.backgroundImage = `url(${image.src})`;
			}

			function moveLens(e) {
				const image = e.target;
				const pos = getCursorPos(e, image);
				const lensWidth = zoomLens.offsetWidth / 2;
				const lensHeight = zoomLens.offsetHeight / 2;
				let x = pos.x - lensWidth;
				let y = pos.y - lensHeight;

				if (x > image.width - lensWidth) x = image.width - lensWidth;
				if (x < 0) x = 0;
				if (y > image.height - lensHeight) y = image.height - lensHeight;
				if (y < 0) y = 0;

				zoomLens.style.left = x + 'px';
				zoomLens.style.top = y + 'px';

				const cx = zoomResult.offsetWidth / zoomLens.offsetWidth;
				const cy = zoomResult.offsetHeight / zoomLens.offsetHeight;

				zoomResult.style.backgroundSize = `${image.width * cx}px ${image.height * cy}px`;
				zoomResult.style.backgroundPosition = `-${x * cx}px -${y * cy}px`;
			}

			function hideZoom() {
				zoomLens.style.display = 'none';
				zoomResult.style.display = 'none';
			}

			function getCursorPos(e, image) {
				const rect = image.getBoundingClientRect();
				const x = e.pageX - rect.left - window.pageXOffset;
				const y = e.pageY - rect.top - window.pageYOffset;
				return { x: x, y: y };
			}
			// // Update size options based on selected color variant
			function updateSizeOptions(subVariants) {
				sizeOptions.innerHTML = '';
				subVariants.forEach((subVariant, index) => {
					const input = document.createElement('input');
					input.type = 'radio';
					input.name = 'size';
					input.id = `size${index}`;
					input.value = subVariant.size;
					input.setAttribute('data-subvariant', JSON.stringify(subVariant));
					input.checked = index === 0;
					const label = document.createElement('label');
					label.htmlFor = `size${index}`;
					label.className = 'size-label';
					label.textContent = subVariant.size;
					input.addEventListener('change', function () {
						updateQuantity();
					});
					sizeOptions.appendChild(input);
					sizeOptions.appendChild(label);
				});

				const firstSizeOption = sizeOptions.querySelector('input[name="size"]:checked');
				if (firstSizeOption) {
					updateQuantity();
				}
			}

			function updatePrices(price) {
				const selectedColorRadio = document.querySelector('input[name="color"]:checked');
				if (selectedColorRadio) {
					const selectedVariantData = selectedColorRadio.getAttribute('data-variant');
					const selectedVariant = JSON.parse(selectedVariantData);
					if (selectedVariant) {
						document.getElementById('discounted-price').textContent = selectedVariant.discountPrice ?? selectedVariant.price;
						document.getElementById('original-price').textContent = selectedVariant.price;
					}
				}
			}

			colorOptions.forEach(option => {
				option.addEventListener('change', function () {
					const images = JSON.parse(this.getAttribute('data-images'));
					const prices = JSON.parse(this.getAttribute('data-prices'));
					const subVariants = JSON.parse(this.getAttribute('data-subvariants'));
					updateCarousel(images);
					updateSubImages(images);
					updateSizeOptions(subVariants);
					updatePrices(prices);
					initZoom();
					const firstSizeOption = document.querySelector('input[name="size"]:checked');
					if (firstSizeOption) {
						updateQuantity();
					}
				});
			});




			//update quantity function
			function updateQuantity() {
				const selectedSizeRadio = document.querySelector('input[name="size"]:checked');
				if (selectedSizeRadio) {
					const selectedSubVariantData = selectedSizeRadio.getAttribute('data-subvariant');
					const selectedSubVariant = JSON.parse(selectedSubVariantData);
					if (selectedSubVariant) {
						const sizeAvailabilityDiv = document.querySelector('.product-available');
						if (selectedSubVariant.quantity === 0) {
							sizeAvailabilityDiv.innerHTML = '<span>Out of Stock</span>';
						} else if (selectedSubVariant.quantity < 10) {
							sizeAvailabilityDiv.innerHTML = `<span>Only ${selectedSubVariant.quantity} Items remaining!</span>`;
						} else {
							sizeAvailabilityDiv.innerHTML = '<span>In stock</span>';
						}
					}
				}
			}

			function updatePrice(productId) {
				const selectedVariant = document.querySelector(`input[name="color-${productId}"]:checked`);
				if (selectedVariant) {
					const newPrice = selectedVariant.dataset.price;
					const newDiscPrice = selectedVariant.dataset.discPrice;

					console.log(`Updating price for product ${productId} to ${newDiscPrice} and ${newPrice}`);

					const priceElement = document.querySelector(`#product-price-${productId}`);
					const discPriceElement = document.querySelector(`#product-disc-price-${productId}`);

					if (priceElement && discPriceElement) {
						discPriceElement.textContent = `₹${newDiscPrice}`;
						priceElement.textContent = `₹${newPrice}`;
					} else {
						console.error(`Price elements not found for product ${productId}`);
					}
				} else {
					console.error(`Selected variant not found for product ${productId}`);
				}
			}

			document.querySelectorAll('input[type="radio"][name^="color-"]').forEach(radio => {
				radio.addEventListener('change', (e) => {
					const productId = e.target.name.split('-')[1];
					updatePrice(productId);
				});
			});

			document.querySelectorAll('input[type="radio"][name^="color-"]:checked').forEach(radio => {
				const productId = radio.name.split('-')[1];
				updatePrice(productId);
			});

			// Initialize the first variant and size on page load
			const firstColorOption = document.querySelector('input[name="color"]:checked');
			if (firstColorOption) {
				firstColorOption.dispatchEvent(new Event('change'));
			}


			function updateCarousel(images) {
				carouselInner.innerHTML = '';
				images.forEach((image, index) => {
					const itemDiv = document.createElement('div');
					itemDiv.className = `carousel-item ${index === 0 ? 'active' : ''}`;
					const img = document.createElement('img');
					img.src = `/static/productImages/${image}`;
					img.className = 'd-block w-100 h-100 main-image';
					img.alt = 'Product Image';
					img.dataset.toggle = 'modal';
					img.dataset.target = '#imageModal';
					img.width = 400;
					img.height = 400;
					itemDiv.appendChild(img);
					carouselInner.appendChild(itemDiv);
				});
				initZoom();
			}

			function updateSubImages(images) {
				productImgs.innerHTML = '';
				images.forEach((image, index) => {
					const div = document.createElement('div');
					div.className = 'product-preview mx-1';
					const img = document.createElement('img');
					img.src = `/static/productImages/${image}`;
					img.alt = 'Product Thumbnail';
					img.className = 'sub-image';
					img.dataset.index = index;
					div.appendChild(img);
					productImgs.appendChild(div);
				});

				// Re-add click event listeners to new sub-images
				document.querySelectorAll('.sub-image').forEach(subImage => {
					subImage.addEventListener('click', function () {
						const index = this.getAttribute('data-index');
						mainCarousel.carousel(parseInt(index));
						updateActiveSubImage(index);
					});
				});
			}
			initZoom();
		});

		// Quantity control
		const quantityInput = document.getElementById('quantityInput');

		document.querySelector('.qty-up').addEventListener('click', () => {
			const currentValue = parseInt(quantityInput.value);
			if (!isNaN(currentValue)) {
				quantityInput.value = currentValue + 1;
			} else {
				quantityInput.value = 1;
			}
		});

		document.querySelector('.qty-down').addEventListener('click', () => {
			const currentValue = parseInt(quantityInput.value);
			if (!isNaN(currentValue) && currentValue > 1) {
				quantityInput.value = currentValue - 1;
			} else {
				quantityInput.value = 1;
			}
		});

		// Add to cart functionality
		document.querySelector('.add-to-cart-btn').addEventListener('click', async () => {
			try {
				const productId = '<%= product._id %>';
				const quantity = parseInt(document.getElementById('quantityInput').value);
				const response = await fetch('/add_cart', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify({ productId, quantity })
				});
				const data = await response.json();
				alert(data.message);
				location.reload();
			} catch (error) {
				console.error('Error adding to cart:', error);
			}
		});
	</script>
	<!-- Js Plugins -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<!-- Include Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<%- include('../partials/footer') %>