<%- include('../partials/header') %>

    <div class="container-scroller">
        <header class="header border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-6">
                        <div class="header__logo">
                            <a class="text-decoration-none" href="/">
                                <h1 class="fw-bold" style="font-style: italic;">Glassics</h1>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-none d-md-block">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a class="text-decoration-none" href="/">Home</a></li>
                                <li><a class="text-decoration-none" href="/shop">Shop</a></li>
                                <li class="active"><a class="text-decoration-none" href="/account/profile">Account</a></li>
                                <li><a class="text-decoration-none" href="./blog.html">Blog</a></li>
                                <li><a class="text-decoration-none" href="./contact.html">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3 col-md-3 col-6 d-flex justify-content-end align-items-center">
                        <div class="header__nav__option mb-3">
                            <a href="#" class="search-switch"><img src="/static/img/icon/search.png" alt=""></a>
                            <a href="#"><img src="/static/img/icon/heart.png" alt=""></a>
                            <a href="/cart"><img src="/static/img/icon/cart.png" alt=""></a>
                        </div>
                        <button class="navbar-toggler d-md-none ml-auto mt-1" type="button" data-toggle="collapse"
                            data-target="#navbarNav">
                            <span class="navbar-toggler-icon fa fa-bars"></span>
                        </button>
                        <button class="navbar-toggler navbar-toggler-right d-md-none mb-2" type="button"
                            data-toggle="offcanvas"><span class="fa fa-chevron-down"></span></button>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <nav class="navbar-nav active">
                        <ul class="navbar-nav">
                            <li><a class="nav-link" href="/">Home</a></li>
                            <li><a class="nav-link" href="/shop">Shop</a></li>
                            <li class="active"><a class="nav-link"
                                    href="/account/profile" style="color: red;">Account</a></li>
                            <li><a class="nav-link" href="./blog.html">Blog</a></li>
                            <li><a class="nav-link" href="./contact.html">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper ps-0 pe-0">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas border" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/account/profile">
                            <span class="menu-title">Profile</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/wishlist">
                            <span class="menu-title">Wishlist</span>
                            <i class="mdi mdi-heart menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/orders">
                            <span class="menu-title">Orders</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/address">
                            <span class="menu-title">Address</span>
                            <i class="mdi mdi-google-maps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item active bg-gradient-info">
                        <a class="nav-link" href="/account/wallet">
                            <span class="menu-title font-weight-bold text-white">Wallet</span>
                            <i class="mdi mdi-wallet menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/coupons">
                            <span class="menu-title">Coupons</span>
                            <i class="mdi mdi-ticket menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <span class="menu-title">Logout</span>
                            <i class="mdi mdi-logout menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="main-panel mt-5 w-100">
                <!-- Breadcrumb Section Begin -->
                <section class="breadcrumb-option mt-5" style="background-color: rgb(232, 243, 250);">
                    <div class="container-fluid mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="breadcrumb__text ps-4">
                                    <h4>Wallet</h4>
                                    <div>
                                        <a class="text-decoration-none text-dark fw-bold" href="/">Home&nbsp;&gt;&nbsp;</a>
                                        <a class="text-decoration-none text-dark fw-bold" href="/account/profile">Account</a>
                                        <span>&nbsp;&gt;&nbsp;Wallet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Breadcrumb Section End -->
                <div class="content-wrapper d-flex justify-content-center" style="background-color: white;">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- User Profile Section -->
                                    <div class="user-profile-section mt-5">
                                        <div class="row text-center">
                                            <div class="col-12 col-md-8 mb-3">
                                                <h4>Balance : <strong>&#8377;<%= walletBalance %></strong></h4>
                                            </div>
                                            <div class="col-12 col-md-4 mb-3">
                                                <button type="button" class="btn btn-outline-primary me-2" data-toggle="modal" data-target="#addMoneyModal">Add Money</button>
                                                <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#transactionHistory" aria-expanded="false" aria-controls="transactionHistory">
                                                    Transactions</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Wallet Transactions Section -->
                                    <div class="wallet-transactions-section mt-5 pt-5 text-end">
                                        <div class="collapse" id="transactionHistory">
                                            <div class="table-responsive">
                                                <table class="table table-hover text-center shadow-sm">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Amount</th>
                                                            <th>Balance</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% transactions.forEach(transaction => { %>
                                                            <tr>
                                                                <td><%= transaction.date.toISOString().split('T')[0] %></td>
                                                                <td><%= transaction.description %></td>
                                                                <td class="<%= transaction.amount > 0 ? 'text-success' : 'text-danger' %>">
                                                                    <%= transaction.amount > 0 ? '+' : '-' %> &#8377;<%= Math.abs(transaction.amount).toFixed(2) %>
                                                                </td>
                                                                <td>&#8377;<%= transaction.balance.toFixed(2) %></td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Wallet Transactions Section -->
                                </div>
                            </div>
                        </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <!-- partial -->
            </div>
            <!-- main-panel ends -->            
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
     <!-- Add Money Modal -->
<div class="modal fade mt-5 pt-5" id="addMoneyModal" tabindex="-1" aria-labelledby="addMoneyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMoneyModalLabel">Add Money to Wallet</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addMoneyForm">
                    <div class="form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="amount" name="amount" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-primary">Add Money</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    <style>
        header {
            position: relative;
            position: fixed;
            width: 100vw;
            z-index: 999;
        }

        .sidebar {
            position: relative;
            position: absolute;
            position: fixed;
            z-index: 999;
            top: 104px;
        }

        @media (min-width : 992px) {
            .main-panel {
                margin-left: 250px;
                
            }

            .sidebar {
                margin-top: 12.3px;
            }
        }
        .editref:hover {
            color: red;
        }
        .content-wrapper {
            background-color: white;
            padding: 20px;
        }
        .breadcrumb-option {
            background-color: rgb(232, 243, 250);
        }
        .wallet-balance h2, .wallet-balance h3 {
            margin: 10px 0;
        }
        .transaction-table thead th {
            background-color: #f8f9fa;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        document.getElementById('addMoneyForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const amount = document.getElementById('amount').value;

        // Create Razorpay order
        const orderResponse = await fetch('/account/wallet/add_money', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ amount })
        });

        const orderData = await orderResponse.json();

        if (!orderData.success) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Error creating Razorpay order',
            });
            return;
        }
        const keyResponse = await fetch('/razorpay_key');
        const keyData = await keyResponse.json();
        const options = {
            key: keyData.key,
            amount: orderData.amount,
            currency: orderData.currency,
            name: 'hiurehfrh',
            description: 'Add Money to Wallet',
            order_id: orderData.orderId,
            handler: async function(response) {
                const verificationResponse = await fetch('/account/wallet/verify_payment', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_signature: response.razorpay_signature,
                        amount: amount
                    })
                });
                const verificationData = await verificationResponse.json();
                if (verificationData.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Money Added',
                        text: 'Money has been successfully added to your wallet.',
                        timer: 2000,
                        showConfirmButton: false
                    }).then(() => {
                        location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Error verifying Razorpay payment',
                    });
                }
            },
            theme: {
                color: '#3399cc'
            }
        };
        const rzp = new Razorpay(options);
        rzp.open();
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.sidebar-offcanvas').toggleClass('active');
            });
        });
    </script>

    <%- include('../partials/footer') %>